.active-assignment {
  color: #28a745;
}

.ending-soon-assignment {
  color: #ffc107;
}

.expired-assignment {
  color: #6c757d;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  vertical-align: top;
  padding: 0.75rem;
}

::ng-deep .p-table-caption {
  background: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}
