    <div class="d-flex justify-content-between mt-2">
        <div class="row">
            <!-- <div style="padding-right:.5em;padding-top: .5em;font-weight: bold;font-size: larger;">Filter</div> -->
            <div class="col-12 d-flex">
                <div style="padding-right:.5em">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" [(ngModel)]="criteria.title" (input)="filter()" placeholder="Product"></div>
                <div style="padding-right:.5em;">
                    <label class="form-label">Active</label>
                    <input type="checkbox" style="width:25px;height:25px;" [(ngModel)]="criteria.active" (change)="filter()">
                </div>

            <!-- </div>
            <div class="col-12 mt-2"> -->
                <app-props-form [entity]="'product'" [validate]="false" [default]="false" (updated)="propsUpdate($event)"></app-props-form>
            </div>
        </div>
        <div>
            <a *isAuth="'products.add'" [routerLink]="['../new']"><button class="btn btn-primary">Add New</button></a>
        </div>
        <!-- <div class="col-12 mt-2">
            <button class="btn btn-primary" (click)="filter()">Filter</button>
        </div> -->
    </div>
    <div class="row">
            <div class="col-12">
            <p-table [value]="products" [resizableColumns]="true" columnResizeMode="expand" 
                [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                [rowsPerPageOptions]="[10,25,50]">
               
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th pSortableColumn="id">ID 
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>   -->
                        <th pSortableColumn="category">Category 
                            <!-- <p-columnFilter type="text" field="category" display="menu"></p-columnFilter> -->
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="code">Code 
                            <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>   -->
                        <!-- <th pSortableColumn="hsn">HSN
                            <p-columnFilter type="text" field="hsn" display="menu"></p-columnFilter>
                            <p-sortIcon field="hsn"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="title">Product 
                            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                            <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th>Properties</th>
                        <!-- <th pSortableColumn="pack">Pack 
                            <p-sortIcon field="pack"></p-sortIcon>
                        </th> -->
                        <!-- <th pSortableColumn="brand">Brand 
                            <p-columnFilter type="text" field="brand" display="menu"></p-columnFilter>
                            <p-sortIcon field="brand"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="mfr">MFR
                            <p-columnFilter type="text" field="mfr" display="menu"></p-columnFilter>
                            <p-sortIcon field="mfr"></p-sortIcon>
                        </th>
                        <th pSortableColumn="updatedon">Latest 
                            <p-sortIcon field="updatedon"></p-sortIcon>
                        </th>  
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <!-- <td>{{product.id}}</td> -->
                        <td>{{product.category}}</td>
                        <!-- <td>{{product.code}}</td> -->
                        <!-- <td>{{product.hsn}}</td> -->
                        <td>
                            <h6>{{product.title}} ({{product.pack}})</h6>
                        </td>
                        <td><app-props-print [props]="product.props"></app-props-print></td>
                        <!-- <td style="text-align: center;">{{product.pack}}</td> -->
                        <!-- <td>{{product.brand}}</td> -->
                        <td>{{product.mfr}}</td>
                        <td>{{product.updatedon | date : 'dd/MM/yy'}}</td>
                        <td style="text-align: center;">
                            <h4 class="icon">
                            <a *ngIf="product.isActive" [routerLink]="['../edit', product.id]">
                                <i class="bi bi-pencil-square text-primary"></i>
                            </a>
                            <a *ngIf="product.isActive" (click)="changeActive(product.id, false)">
                                <i class="bi bi-sign-stop-fill" style="color:red"></i>
                            </a>
                            <a *ngIf="!product.isActive" (click)="changeActive(product.id, true)">
                                <i class="bi bi-play-fill" style="color:green"></i>
                            </a>
                            <a *ngIf="!product.isActive" (click)="archive(product.id)">
                                <i class="bi bi-trash" style="color:gray"></i>
                            </a>
                        </h4>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    