<div class="row">

        <div class="col-12 d-flex">
            <div class="price-comp">
                <label style="text-align: left;">Category</label>
                <h6><select [(ngModel)]="data.category" (change)="arrive($event, 'categ')">
                    <option value=""></option>
                    <option *ngFor="let c of getTypes()">{{c}}</option>
                </select></h6>
            </div>
            <div class="price-comp">
                <label>PTR</label>
                <h6><input type="number" style="width:100px;text-align:right;" [(ngModel)]="data.ptr" (input)="arrive($event,'ptr')"></h6>
            </div>
            <div class="price-comp">
                <label>MRP</label>
                <h6><input type="number" style="width:100px;text-align:right;" [(ngModel)]="data.mrp" (input)="arrive($event, 'mrp')"></h6>
            </div>
            <div class="price-comp">
                <label>Price</label>
                <h6 style="background: #dea;">
                    &nbsp;{{data.price}}
                </h6>
            </div>
            <div class="price-comp">
                <label>Margin</label>
                <h6 style="color:blueviolet;">{{data.margin}}%</h6>
            </div>
            <div class="price-comp">
                <label>Discount</label>
                <h6 style="color:blue;">{{data.discount}}%</h6>
            </div>
        </div>
</div>