<div class="row mt-2">
    <div class="col-12 p-2 d-flex">
       <div style="padding-right:.5em"><input type="text" class="form-control" [(ngModel)]="criteria.title" (input)="filter()" placeholder="Product"></div>
       <div style="padding-right:.5em;padding-top: .5em;font-size: larger;"><input type="checkbox" style="width:25px;height:25px;" [(ngModel)]="criteria.active" (change)="filter()"> Active</div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <p>Product not purchased are not shown below</p>
    <p-table [value]="products" dataKey="id" editMode="row" styleClass="p-datatable-sm p-datatable-striped"
            [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [rowsPerPageOptions]="[25,50,100]">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:42%" pSortableColumn="title">Product
                    <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                    <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th style="width:8%" pSortableColumn="last_updated">Updated
                    <p-sortIcon field="last_updated"></p-sortIcon></th>
                <th style="width:8%" class="text-end">PTR</th>
                <th style="width:8%" class="text-end" pSortableColumn="price">Price
                    <p-sortIcon field="price"></p-sortIcon></th>
                <th style="width:8%" class="text-end" pSortableColumn="margin">Margin
                    <p-columnFilter type="number" field="margin" display="menu"></p-columnFilter>
                    <p-sortIcon field="margin"></p-sortIcon>
                </th>
                <th style="width:8%" class="text-end" pSortableColumn="discount">Discount
                    <p-columnFilter type="number" field="discount" display="menu"></p-columnFilter>
                    <p-sortIcon field="margin"></p-sortIcon>
                </th>
                <th style="width:8%" class="text-end">MRP</th>
                <th style="width:8%" class="text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
                <td>{{product.title}}</td>
                <td>{{product.last_updated | date : 'dd/MM/yy'}}</td>
                <!-- <td class="text-center" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.market_price">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.market_price}}
                        </ng-template>
                    </p-cellEditor>
                </td> -->
                <td class="text-end">{{product.ptr | number : '1.2-2'}}</td>
                <!-- <td class="text-center" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.our_sale_price">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.our_sale_price}}
                        </ng-template>
                    </p-cellEditor>
                </td> -->
                <td class="text-end">{{product.price | number : '1.2-2'}}</td>
                <td class="text-end">{{product.margin}}%</td>
                <td class="text-end">{{product.discount}}%</td>
                <td class="text-end">{{product.mrp | number : '1.2-2'}}</td>
                <td style="text-align:center">
                    <h4 class="icon">
                        <a (click)="changePrice(product.id)">
                            <i class="bi bi-pencil-square text-primary"></i>
                        </a>
                    </h4>
                    <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>

<p-dialog [header]="'Price Change'" 
        [(visible)]="showPriceChange" [modal]="true">
    <app-product-price-change [productid]="productid" (added)="changed($event)"></app-product-price-change>
</p-dialog>