services:
  api:
    build:
      dockerfile: Dockerfile
      context: ./api-v2
      
    # Mount our host dir to the docker container  
    # Mount api directory (./api) to (:) docker container (/app)
    # Reflect File changes from host to container
    volumes:
      - ./api-v2:/app
      - ./api-v2/node_modules:/app/node_modules
      - ~/uploads:/app/upload
    # RUN in debug mode: npm run start:debug
    # RUN in dev mode npm run start:dev
    command: npm run start:prod
    depends_on:
      - postgres
      - redis
    environment:
      NODE_ENV: production
      # DATABASE_URL: postgresql://postgres:postgres@rgp-db:5432/rgpdb
      DATABASE_URL: postgresql://rgpapp:r9pAdmin7@host.docker.internal:5432/rgpdb
      LOG_SQL: false
      FILEUPLOAD_LOCATION: /app/upload
      FILEUPOAD_SIZE_LIMIT: 512000
      JWT_KEY: dev
      JWT_EXPIRES: 24h
      PORT: 3000
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - 3000:3000
    networks:  
      - local

  postgres:
    image: postgres:17
    restart: always
    container_name: rgp-db
    volumes:
      - rgpdata:/var/lib/postgresql/data
    networks:
      - local
    environment:
      POSTGRES_USER: rgpapp
      POSTGRES_PASSWORD: r9pAdmin7
      POSTGRES_DB: rgpdb
    ports:
      - 5432:5432

  redis:
    image: redis:7-alpine
    restart: always
    container_name: rgp-redis
    networks:
      - local
    ports:
      - 6379:6379
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru

  frontend:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    ports:
      - 8000:80
    networks:
      - local
      
networks:
  local:

volumes:
    rgpdata:
        external: true