<div class="d-flex">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>


<!-- <img [src]="content" alt="Image Source"> -->
<!-- <embed [attr.src]="content" type="application/pdf" width="100%" height="100%"> -->


<!--Flag variable is used here-->
<span *ngIf="error && error.length > 0">{{error}}</span>
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>