<div class="pagetitle">
  <h1>Purchase Invoices</h1>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <label for="vendor" class="col-form-label">Vendor</label>
        <select class="form-select" id="vendor" formControlName="vendorid" aria-label="State">
          <option *ngFor="let v of vendors" [value]="v.id">{{v.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="invdate" class="col-form-label">Invoice Date</label>
        <input type="date" class="form-control" formControlName="invoicedate" id="invdate">
      </div>
      <div class="col-md-3">
        <label for="invno" class="col-form-label">Invoice No.</label>
        <input type="text" class="form-control" formControlName="invoiceno" id="invno">
      </div>
      <div class="col-md-3">
        <label for="poid" class="col-form-label">PO ID</label>
        <input type="text" class="form-control" formControlName="purchaseorderid" id="poid">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary m-2" [disabled]="!form.valid">Save</button>
        <button type="button" (click)="gotoList()" class="btn btn-outline-secondary m-2">Cancel</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <label for="grn" class="col-sm-2 col-form-label">GRN</label>
    <input type="text" class="form-control" formControlName="grn" 
      id="grn">
  </div> -->
 
</form>
<!-- <a *ngIf="invoice.id" [routerLink]="['../../items',invoice.id]">Items</a> -->
<router-outlet></router-outlet>
