<app-purchase-header></app-purchase-header>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="!itemid">
                <p-autoComplete formControlName="productid" [showEmptyMessage]="true" field="title" 
                    placeholder="Product" emptyMessage="No Product Found"
                    [suggestions]="filteredProducts" (completeMethod)="filterProduct($event)" type="search"
                    (onSelect)="selectProduct($event)" [minLength]="2" [size]="40"
                    [inputStyle]="{'background-color':'#9df'}">
                        <ng-template let-product pTemplate="item">
                            <div style="max-width:400px">
                            <h6 class="m-0">{{product.title}}</h6>
                                <span style="color:red;font-style: italic;">{{product.props?.composition}}</span>
                                <p class="m-0"><span style="color:blue;">{{product.props?.mfr}}</span></p>
                            </div>
                        </ng-template>
                </p-autoComplete>&nbsp;
                <p-autoComplete formControlName="batch" field="batch" [showEmptyMessage]="true" emptyMessage="No Batch Found"
                    [suggestions]="filteredBatches" (completeMethod)="filterBatch($event)" type="search" placeholder="Batch"
                    (onSelect)="selectBatch($event)" [minLength]="1" [size]="10" [dropdown]="true"
                    [inputStyle]="{'background-color':'#9df'}">
                    <ng-template let-item pTemplate="item">
                        <h6 style="color: cornflowerblue;">{{item.batch}} / {{item.expdate}}</h6>
                            <p class="m-0">
                                <span><i class="bi bi-currency-rupee"></i>{{item.ptrvalue}}(R)</span>
                                <span style="color:blue;"><i class="bi bi-currency-rupee"></i>{{item.saleprice}}(S)</span>
                                <span><i class="bi bi-currency-rupee"></i>{{item.mrpcost}}(M)</span>
                            </p>
                    </ng-template>
                </p-autoComplete>&nbsp;
            </div>
        
        </div>
        <div class="row">
          <div class="col-md-12 mt-2">
            <strong>{{selectedProduct?.title}}</strong><br>
            <span style="font-style: italic;color:red;">{{selectedProduct?.props?.composition}}</span>
          </div>

        <!-- <div class="col-md-3">
            <label for="batch" class="form-label">Product</label><br>
            <strong>{{selectedProduct?.title}}</strong><br>
            <span style="font-style: italic;color:red;">{{selectedProduct?.props?.composition}}</span>
        </div>     -->
    <div class="col-md-2">
        <label for="batch" class="form-label">Batch</label>
        <div class="d-flex flex-row p-0">
            <div class="p-0"><input id="batch" type="text" class="form-control" formControlName="batch" size="8"></div>
            <div class="p-2"><a (click)="clearBatch()"><i class="bi bi-x-circle text-danger"></i></a></div>
          </div>
    </div>
    <div class="col-md-1">
        <label for="expdate" class="form-label">Expiry</label>
        <!-- <p *ngIf="batchfound">{{form.controls['expdate'].value}}</p> -->
        <br>
        <p-calendar formControlName="expdate" view="month" dateFormat="mm/yy" [minDate]="minExpDate()" 
                [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
    </div>
    <!-- </div>
    <div class="row"> -->
        <!-- <div class="col-md-1">
            <label for="pk" class="form-label">Pack</label>
            <p>{{form.controls['pack'].value}}</p>
        </div> -->
        <div class="col-md-1">
            <label for="qty" class="form-label">QTY</label>
            <input type="number" id="qty" class="form-control" formControlName="qty" (input)="calculate()">
        </div>
        <div class="col-md-1">
            <label for="mrp" class="form-label">MRP</label>
            <input type="number" id="mrp" class="form-control" formControlName="mrpcost" (input)="calculate()">
        </div>
        <div class="col-md-1">
            <label for="ptr" class="form-label">Rate</label>
            <input type="number" id="ptr" class="form-control"
            formControlName="ptrvalue" size="6" (input)="calculateSP($event)">
        </div>
        <!-- <div class="col-md-1">
            <label for="disc" class="form-label">Disc %</label>
            <input type="text" id="disc" class="form-control" formControlName="discpcnt" size="6" (input)="calculate()">
        </div> -->
        <div class="col-md-1">
            <label for="taxpcnt" class="form-label">Tax %</label>
            <input type="number" id="taxpcnt" class="form-control" formControlName="taxpcnt" size="4" (input)="calculate()">
        </div>
        <!-- <div class="col-md-1">
            <label for="total" class="form-label" style="color: blue">Free</label>
            <input type="number" class="form-control">
        </div>
        <div class="col-md-1">
            <label for="disc" class="form-label" style="color: blue">Disc %</label>
            <input type="number" id="disc" class="form-control" formControlName="discpcnt" size="6" (input)="calculate()">
        </div> -->
        <!-- <div class="col-md-1">
            <label for="disc" class="form-label">Adj Qty</label>
            
        </div> -->
        <div class="col-md-1">
            <label for="total" class="form-label">Total</label>
            <br>
            <span>{{total | number:'0.0-9'}}</span>
        </div>
        <div class="col-md-1">
            <label for="salep" class="form-label">Sale</label>
            <!-- <p *ngIf="batchfound">{{form.controls['saleprice'].value}}</p> -->
            <input type="number" id="saleprice" class="form-control"
            formControlName="saleprice" (input)="calculateMargin()">
            <!-- <a (click)="calculate()">
                <i class="bi bi-pin-angle-fill text-danger"></i>
                </a> -->
            <!-- <br>
            <span>{{form.value.saleprice || 0}}</span> -->
        </div>
        <div class="col-md-1">
            <label class="form-label">Margin</label><br>
            <span>{{this.sellermargin}}%</span>
        </div>
        <div class="col-md-1">
            <label class="form-label">Discount</label><br>
            <span>{{this.customersaving}}%</span>
        </div>
        <div class="col-md-1">
            <label class="form-label">&nbsp;</label><br>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add</button>
        </div>
    </div>
    </div>
       
    <!-- <div class="row" *ngIf="form.errors">
        <p *ngIf="form.get('ptrvaue')?.hasError('ptrcostsalesameerror')">Sale Price & PTR same</p>
    </div> -->
    <!-- <div class="row mt-3">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add</button>
        </div>
    </div> -->
</form>