<form [formGroup]="form" (ngSubmit)="submit()">
    <table>
        <tr>
            <th>Product</th>
            <th>Batch</th>
            <th>Expiry</th>
            <th>MRP</th>
            <th>QTY</th>
            <th>Free</th>
            <th>Rate</th>
            <th>Disc%</th>
            <th>Tax%</th>
            <th style="text-align: right;">Total</th>
            <th></th>
        </tr>
        <tr>
            <td width="30%">
                <app-product-select *ngIf="mode !== 'edit';else showTitle" [reset]="productReset" (selected)="selectProduct($event)"></app-product-select>
                <ng-template #showTitle>{{title}}</ng-template>
            </td>
            <td width="10%">
                <p-autoComplete formControlName="batch"
                    [suggestions]="filteredBatches" (completeMethod)="filterBatch($event)"
                    (onSelect)="selectBatch($event)" [minLength]="1" [size]="10" [dropdown]="true"
                    [inputStyle]="{'background-color':'#9df'}">
                    <ng-template let-item pTemplate="item">
                        <h6 style="color: blue;">{{item.batch}} / {{item.expdate | date : 'MMM-yy'}}</h6>
                    </ng-template>
                </p-autoComplete>
            </td>
            <td width="8%">
                    <p-calendar formControlName="expdate" view="month" dateFormat="M-y" [minDate]="today()" 
                        [yearNavigator]="true" yearRange="2024:2034"></p-calendar>
            </td>
            <td width="8%">
                <input type="number" id="mrp" class="form-control" formControlName="mrpcost" (input)="calculate()">
            </td>
            <td width="8%">
                <input type="number" id="qty" class="form-control" formControlName="qty" (input)="calculate()">
            </td>
            <td width="5%">
                <input type="number" id="freeqty" class="form-control" formControlName="freeqty">
            </td>
            <td width="8%">
                <input type="number" id="ptr" class="form-control" formControlName="ptrvalue" size="6" (input)="calculate()">
            </td>
            <td width="5%">
                <input type="text" id="disc" class="form-control" formControlName="discpcnt" size="6" (input)="calculate()">
            </td>
            <td width="5%">
                <input type="number" id="taxpcnt" class="form-control" formControlName="taxpcnt" size="4" (input)="calculate()">
            </td>
            <td width="6%" style="text-align: right;padding-right:1em;font-weight: bolder;background: #dea;">
                {{total | number:'1.2-2'}}
            </td>
            <td width="4%">
                <button type="submit" [disabled]="total == 0 || total == undefined" class="btn btn-primary">Add</button>
            </td>
        </tr>
    </table>

</form>