<app-purchase-header></app-purchase-header>
<a *isAuth="'purchases.add'" [routerLink]="['../new']"><button type="submit" class="btn btn-primary">Add New</button></a>

<p-table #dt1 [value]="invoices" [resizableColumns]="true" columnResizeMode="expand" 
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
    [tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]">
<!-- <table *isAuth="'purchases.read'" class="table table-bordered mt-3"> -->
  <!-- <thead> -->
    <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="invoice_no">No.
        <p-sortIcon field="invoice_no"></p-sortIcon>
        <p-columnFilter type="text" field="invoice_no" display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="invoice_date">Date
        <p-sortIcon field="invoice_date"></p-sortIcon>
        <p-columnFilter type="date" field="invoice_date" display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="business_name">Vendor
        <p-sortIcon field="business_name"></p-sortIcon>
        <p-columnFilter type="text" field="business_name" display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="status">Status
        <p-sortIcon field="status"></p-sortIcon>
        <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
      </th>
      <th pSortableColumn="items">Items</th>
      <th pSortableColumn="total">Amount
        <p-sortIcon field="total"></p-sortIcon>
        <p-columnFilter type="numeric" field="total" display="menu"></p-columnFilter>
      </th>
      <!-- <th  pSortableColumn="category">Actions</th> -->
      <th></th>
    </tr>
  </ng-template>
  <!-- </thead>
  <tbody> -->
    <ng-template pTemplate="body" let-p>
    <!-- <tr *ngFor="let p of invoices"> -->
      <!-- <td>{{p.id}}</td> -->
      <tr>
        <td>{{p.id}}</td>
        <td><a [routerLink]="['../items',p.id]">{{p.invoice_no}}</a></td>
      <td style="text-align: center;">{{p.invoice_date | date : 'dd-MMM'}}</td>
      <td>{{p.business_name}}</td>
      <td style="text-align: center;">{{p.status}}</td>
      <td style="text-align: center;">{{p.items}}</td>
      <td style="text-align: right">{{p.total | number:'0.0-9'}}</td>
      <!-- <td>
        <span *ngIf="p.status === 'NEW'">
      <a *isAuth="'purchases.edit'" [routerLink]="['../edit', p.id]">
        <i class="bi bi-pencil text-primary"></i>
      </a>
        <a *isAuth="'purchases.delete'" (click)="delete(p.id)"><i class="bi bi-trash text-danger"></i></a>
      </span>
      </td> -->
      <td>
        <a (click)="delete(p.id)">
          <i class="bi bi-trash text-danger"></i>
      </a>
      </td>
    </tr>
  <!-- </tbody>
</table> -->
</ng-template>
</p-table>
<p-dialog [header]="'Warning'" (onHide)="closeDeleteWarn()"
[(visible)]="displayError" [modal]="true">
    ERROR: {{errorMessage}}
</p-dialog>