
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 label text-center h4">{{invoice.vendor?.name}}</div>
            <div class="col-lg-3 col-md-3 label"><strong>Invoice No:</strong> {{invoice.invoiceno}}</div>
            <div class="col-lg-3 col-md-3 label"><strong>Invoice Date:</strong> {{invoice.invoicedate | date : 'dd/MM/yyyy'}}</div>

            <!-- <div class="col-lg-4 col-md-4 label">PO ID: {{invoice.purchaseorderid}}</div> -->
            <div class="col-lg-3 col-md-3 label text-end"><strong>GRN:</strong><span class="text-success"> {{invoice.grno}}</span></div>
            <div class="col-lg-3 col-md-3 label text-end"><strong>Status:</strong> {{invoice.status}}
                <a [routerLink]="['../../edit',invoice.id]">Edit</a>
            </div>
        </div>
        
    </div>
</div>
<div class="card p-0" *ngIf="invoice.status === 'NEW'">
    <div class="card-body">
            <app-invoice-item-form [invoiceid]="invoice.id" (added)="fetchItems($event)"></app-invoice-item-form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    Import
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <p-table [value]="items" 
                    [resizableColumns]="true" columnResizeMode="expand" styleClass="p-datatable-gridlines mt-0">
                <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="invoice.status !== 'COMPLETE'"></th>
                            <th *ngIf="invoice.status !== 'COMPLETE'"></th>
                            <th pSortableColumn="product.title">Product
                                <p-sortIcon field="product.title"></p-sortIcon>
                            </th>
                            <th>Batch</th>
                            <!-- <th>MFR Date</th> -->
                            <th pSortableColumn="expdate" class="text-center">Expiry
                                <p-sortIcon field="expdate"></p-sortIcon>
                            </th>
                            <th class="text-end">MRP</th>
                            <!-- <th>Pack</th> -->
                            <th class="text-end">QTY</th>
                            <th class="text-end">Free</th>
                            <th class="text-end">Rate</th>
                            <th class="text-end">Disc</th>
                            <th class="text-end">Tax</th>
                            <th class="text-end">Total</th>
                        </tr>
                    <!-- </thead>
                <tbody> -->
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <!-- <tr *ngFor="let i of invoice.items"> -->
                        <tr [ngStyle]="{'background':i.selected ? '#ddd' : 'inherit'}">
                            <td *ngIf="invoice.status !== 'COMPLETE'" class="text-center"  style="width:2em">
                                <input type="checkbox" class="form-conrol-input checkmark" *ngIf="i.status === 'NEW'" (change)="selectItem($event,i.id)">
                            </td>
                            <td *ngIf="invoice.status !== 'COMPLETE'" class="text-center" style="width:2em">
                                <h4 style="margin:0;padding:0;">
                                    <a (click)="showItemEdit(i.id)" *ngIf="i.status == 'NEW'">
                                        <i class="bi bi-pencil-square text-primary"></i>
                                    </a>
                                </h4>
                            </td>
                            <td>{{i.product?.title}}</td>
                            <td>{{i.batch}}</td>
                            <!-- <td class="text-center">{{i.mfrdate | date: 'MMM-yy'}}</td> -->
                            <td class="text-center">{{i.expdate | date: 'MMM-yy'}}</td>
                            <td class="text-end">{{i.mrpcost | number:'1.2-2'}}</td>
                            <!-- <td style="text-align: right;">{{i.product.pack}}</td> -->
                            <td class="text-end">{{i.qty}}</td>
                            <td class="text-end">{{i.freeqty}}</td>
                            <td class="text-end">{{i.ptrvalue | number:'1.2-2'}}</td>
                            <td class="text-end">{{i.discpcnt}}<span *ngIf="i.discpcnt">%</span></td>
                            <td class="text-end">{{i.taxpcnt}}<span *ngIf="i.taxpcnt">%</span></td>
                            <td class="text-end">{{(i.ptrvalue * i.qty) | number:'1.2-2'}}</td>
                            <!-- <td class="text-center">{{i.status}}</td> -->
                        </tr>
                        <!-- <tr>
                        
                            <td colspan="9" style="text-align: right;">Total ({{invoice.items?.length}} Items)</td>
                            <td style="text-align: right;">{{invoice.total}}</td>
                            <td></td>
                        </tr> -->
                    <!-- </tbody>
                </table> -->

                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td *ngIf="invoice.status !== 'COMPLETE'"></td>
                        <td *ngIf="invoice.status !== 'COMPLETE'"></td>
                        <td colspan="7"></td>
                        <td class="text-end">{{disctotal | number:'1.2-2'}}</td>
                        <td class="text-end">{{taxtotal | number:'1.2-2'}}</td>
                        <td class="text-end">{{grosstotal | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td *ngIf="invoice.status !== 'COMPLETE'"></td>
                        <td *ngIf="invoice.status !== 'COMPLETE'"></td>
                        <td colspan="7" class="text-end">{{invoice.items?.length}} Items</td>
                        <td colspan="3" class="text-end">
                            <span style="color:blue;font-size:larger">{{nettotal | number:'1.2-2'}}</span></td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
            <!-- <div class="col-lg-12">
                Total ({{invoice.items?.length}} items) Gross: {{grosstotal | number:'1.2-2'}} | Disc: {{disctotal | number:'1.2-2'}} | Tax: {{taxtotal | number:'1.2-2'}} | Net: {{nettotal | number:'1.2-2'}} 
            </div> -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" *ngIf="itemSelected" class="btn btn-primary m-2" (click)="verifyItems()">Verify</button>
                <button type="button" *ngIf="itemSelected" class="btn btn-outline-primary m-2" (click)="removeItems()">Remove</button>
            </div>
        </div>
        <!-- </div></div> -->
<!-- <div class="card">
    <div class="card-body"> -->
        <div class="row mt-4" *ngIf="allVerified && invoice.status === 'NEW'">
            <!-- <div class="col-lg-6">
                <label for="grn" class="col-sm-2 col-form-label">GRN</label>
                <input type="text" id="grn" class="form-control" name="grn" [value]="grn"  (change)="updateGrn($event)">
            </div> -->
            <div class="col-lg-6">
                <label for="feedback">Comments</label>
                <textarea name="feedback" [value]="feedback" (change)="updateFeedback($event)" 
                id="feedback"  class="form-control" cols="30" rows="2"></textarea>
            </div>
            <div class="col-lg-12 mt-2">
                <button type="button" class="btn btn-primary"  (click)="confirmInvoice()">Complete</button>
            </div>
        </div>
        <!-- <div *ngIf="invoice.status === 'RECEIVED'">
            GRN: {{invoice.grn}}
        </div> -->
    </div>
</div>
        <!-- <app-invoice-payment *ngIf="invoice.status === 'RECEIVED'" 
            [invoiceid]="invoice.id" [invoiceamt]="invoice.total"
            (payUpdated)="onPaid($event)"></app-invoice-payment>

        <div class="row" *ngIf="invoice.status === 'PAID'">
            <div class="col-lg-12">
                <h5>Payment Info</h5>
                <ul>
                    <li>Date: {{invoice.paydate}}</li>
                    <li>Mode: {{invoice.paymode}}</li>
                    <li>Amount: {{invoice.payamount}}</li>
                    <li>Ref #: {{invoice.payrefno}}</li>
                    <li>Comments: {{invoice.paycomments}}</li>
                </ul>
            </div>
        </div> -->

        <p-dialog [header]="'Edit Item'" (onHide)="closeEditItem()"
        [(visible)]="displayEditItem" [modal]="true">
            <app-invoice-item-form [mode]="'edit'" [invoiceid]="invoice.id" [itemid]="itemid" 
            (added)="closeEditItem()"></app-invoice-item-form>
        </p-dialog>