<div class="pagetitle">
  <h1>Purchase Invoices</h1>
</div>

<a *isAuth="'purchases.add'" [routerLink]="['../new']"><button type="submit" class="btn btn-primary">Add New</button></a>
<table *isAuth="'purchases.read'" class="table table-bordered mt-3">
  <thead>
    <tr>
      <!-- <th scope="col">ID</th> -->
      <th scope="col">No</th>
      <th scope="col">Date</th>
      <th scope="col">Vendor</th>
      <th scope="col">Status</th>
      <th scope="col">Amount</th>
      <!-- <th scope="col">Actions</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of invoices">
      <!-- <td>{{p.id}}</td> -->
      <td><a [routerLink]="['../items',p.id]">{{p.invoiceno}}</a></td>
      <td>{{p.invoicedate | date : 'dd-MMM'}}</td>
      <td>{{p.vendor.name}}</td>
      <td>{{p.status}}</td>
      <td style="text-align:right">{{p.total}}</td>
      <!-- <td>
        <span *ngIf="p.status === 'NEW'">
      <a *isAuth="'purchases.edit'" [routerLink]="['../edit', p.id]">
        <i class="bi bi-pencil text-primary"></i>
      </a>
        <a *isAuth="'purchases.delete'" (click)="delete(p.id)"><i class="bi bi-trash text-danger"></i></a>
      </span>
      </td> -->
    </tr>
  </tbody>
</table>