<div class="pagetitle">
    <h1>Purchase</h1>
</div>
  
<nav class="navbar navbar-light bg-light justify-content-between">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/secure/purchases">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure//purchases/order">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/purchases/invoice">Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/purchases/report">Report</a>
        </li>
    </ul>
</nav>