<form [formGroup]="form">
      <div class="d-flex props">
        <div>
        <label class="form-label">Category</label>
        <select formControlName="category" class="form-control" id="category" 
              (change)="selectProps($event,undefined)">
              <option value="">Select</option>
              <option *ngFor="let c of categories" [value]="c.category">{{c.category}}</option>
          </select>
        </div>
          <div *ngIf="form.controls['category'].value !== '' && copyProps">
            <label class="form-label">Copy</label><br>
            <input type="checkbox" (click)="copyData($event)" style="width:25px;height:25px;margin-top:.5em;">
          </div>
      <!-- </div>
      <div class="col-10"> -->
        <div class="d-flex" formGroupName="props">
          <div *ngFor="let pp of props">
          <label class="form-label"  *ngIf="pp.type !== 'MULTI-SELECT'">{{pp.label}}<span class="text-danger" *ngIf="validate && pp.required"> *</span></label> 
          <select class="form-control" formControlName={{pp.id}} *ngIf="pp.type === 'SINGLE-SELECT'"
          (change)="dataInput(pp.type, pp.id, $event)">
            <option value="">Select</option>
            <option *ngFor="let c of pp.choices" [value]="c.value">{{c.label}}</option>
          </select>
          <input *ngIf="pp.type === 'date'" type="date" (change)="dataInput(pp.type, pp.id, $event)" 
                    class="form-control" formControlName={{pp.id}}>
          <input *ngIf="!pp.type" type="text" (change)="dataInput(pp.type, pp.id, $event)" 
                    class="form-control" formControlName={{pp.id}}>
                    <!-- <span class="p-fluid">
                      <p-multiSelect [options]="pp.choices" formControlName={{pp.id}} optionLabel="label" *ngIf="pp.type === 'MULTI-SELECT'"></p-multiSelect>
                      </span> -->
          <div *ngIf="pp.type === 'CHECK'">
            <input type="checkbox" (change)="dataInput(pp.type, pp.id, $event)" [checked]="pp.default"
            class="form-check-input" formControlName={{pp.id}}> Yes
            </div>
          </div>
      </div>
      </div>
    
  </form>