  <nav class="page-menu navbar navbar-light bg-light justify-content-between non-print m-0 p-0">
    <ul class="nav">
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/requests">Requests</a>
      </li>
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/suggestions">Suggestions</a>
      </li>
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/orders">Orders</a>
      </li>
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/invoices">Invoices</a>
      </li>
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/payables" data-testid="nav-payables">Payables</a>
      </li>
      <li class="nav-item" *isAuth="'purchases'">
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/settings">Settings</a>
      </li>
      <!-- <li class="nav-item" *isNavAuth>
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/purchases/orders">Orders</a>
      </li> -->
    </ul>
  </nav>
