<div class="pagetitle">
    <h1>Purchase</h1>
</div>
  
<nav class="navbar navbar-light bg-light justify-content-between">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/purchases/requests">Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/purchases/orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/purchases/invoice">Invoices</a>
        </li>
    </ul>
</nav>