<div>
    <h4>Stock</h4>
</div>
<nav class="navbar navbar-light bg-light justify-content-between">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/stock/list">Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/stock/adjust">Adjustments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/stock/demand">Demand</a>
        </li>
    </ul>
</nav>