<app-stock-header></app-stock-header>
  
    <div class="row mt-2">
        <div class="col-12">
            <p-table #dt1 [value]="items" [resizableColumns]="true" columnResizeMode="expand" 
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Product
                            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                            <p-sortIcon field="product"></p-sortIcon>
                        </th>
                        <th pSortableColumn="invoice_no">Invoice
                            <p-columnFilter type="text" field="invoice_no" display="menu"></p-columnFilter>
                            <p-sortIcon field="invoice_no"></p-sortIcon>
                        </th>
                        <!-- <th>Batch/Exp</th> -->
                        <!-- <th>Pack</th> -->
                        <!-- <th pSortableColumn="expdate">Expiry
                            <p-columnFilter type="date" field="expdate" display="menu"></p-columnFilter>
                            <p-sortIcon field="expdate"></p-sortIcon>
                        </th> -->
                        <!-- <th pSortableColumn="life_left">Life
                            <p-columnFilter type="numeric" field="life_left" display="menu"></p-columnFilter>
                            <p-sortIcon field="life_left"></p-sortIcon>
                        </th> -->
                        <th>Qty #
                            <p-columnFilter type="numeric" field="available_qty" display="menu"></p-columnFilter>
                            <p-sortIcon field="available_qty"></p-sortIcon>
                        </th>
                        <th pSortableColumn="qtypcnt">Qty %
                            <p-sortIcon field="qtypcnt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="old_with_us">Old
                            <p-columnFilter type="numeric" field="old_with_us" display="menu"></p-columnFilter>
                            <p-sortIcon field="old_with_us"></p-sortIcon>
                        </th>
                        <th pSortableColumn="life_left">Life
                            <p-columnFilter type="numeric" field="life_left" display="menu"></p-columnFilter>
                            <p-sortIcon field="life_left"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ptr_cost">Rate
                            <p-columnFilter type="numeric" field="ptr_cost" display="menu"></p-columnFilter>
                            <p-sortIcon field="ptr_cost"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sale_price">Price
                            <p-columnFilter type="numeric" field="sale_price" display="menu"></p-columnFilter>
                            <p-sortIcon field="sale_price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="margin">Margin
                            <!-- <p-columnFilter type="numeric" field="margin" display="menu"></p-columnFilter> -->
                            <p-sortIcon field="margin"></p-sortIcon>
                        </th>
                        <th pSortableColumn="saving">Discount
                            <!-- <p-columnFilter type="numeric" field="saving" display="menu"></p-columnFilter> -->
                            <p-sortIcon field="saving"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="old_with_us">Age
                            <p-columnFilter type="numeric" field="old_with_us" display="menu"></p-columnFilter>
                            <p-sortIcon field="old_with_us"></p-sortIcon>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td>
                            <p class="m-0">{{i.title}}</p>
                            <span class="batch">{{i.batch}}/{{i.expdate | date :'MMM-yy'}}</span>
                            <span class="batch" style="margin-left:5px"><i class="bi bi-currency-rupee"></i>{{i.mrp_cost}}</span>
                        </td>
                        <td><a [routerLink]="['/secure/purchases/items',i.invoice_id]">{{i.invoice_no}}</a></td>
                        
                        <!-- <td>{{i.batch}}/{{i.expdate | date :'MMM-yy'}}</td> -->
                        <!-- <td>{{i.pack}}</td> -->
                        <!-- <td>{{i.life_left}}</td> -->
                        <td style="text-align: right;">{{i.available_qty}}
                            <span class="ml-2">
                                <a href="javascript:void(0)" (click)="showQtyDialog(i)">
                                <i class="bi bi-pencil-square text-primary"></i></a>
                            </span>
                        </td>
                        <td style="text-align: right;">{{i.qtypcnt}}</td>
                        <td style="text-align: center;">{{i.old_with_us}}</td>
                        <td style="text-align: center;">{{i.life_left}}</td>
                        <td style="text-align: right;">{{i.ptr_cost}}</td>
                        <td style="text-align: right;">{{i.sale_price}}
                            <span class="ml-2">
                                <a href="javascript:void(0)" (click)="showPriceDialog(i)">
                                <i class="bi bi-pencil-square text-primary"></i></a>
                            </span>
                        </td>
                        <td>{{i.margin}}%</td>
                        <td>{{i.saving}}%</td>
                        <!-- <td>{{i.old_with_us}}</td> -->
                    </tr>
                </ng-template>
            </p-table>    
        </div>
    </div>


<p-dialog header="Adjust Price" [(visible)]="displayPriceAdjForm" [modal]="true">
    <!-- <div class="container"> -->
        <form [formGroup]="priceAdjustForm" (ngSubmit)="onPriceAdjSubmit()">
            <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
                
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h5>{{selectedItem?.title}}</h5>
                            <p class="batch">{{selectedItem?.batch}} / {{selectedItem?.expdate | date: 'MMM-yy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 m-0 p-0">
                            <!-- <label>Batch:</label>{{selectedItem?.batch}} <br>
                            <label>Exp:</label>{{selectedItem?.expdate | date: 'MMM-yy'}} -->
                            <label class="adj-label">MRP</label><br>{{selectedItem?.mrp_cost}}
                        </div>
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label">PTR</label><br>{{selectedItem?.ptr_cost}}
                        </div>
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label" for="price">Current</label><br>
                                {{selectedItem?.sale_price}}
                            <!-- <label>Qty:</label>{{selectedItem?.sale_qty}} -->
                        </div>
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label" for="price">New</label>
                            <input type="number" class="form-control" id="price" [value]="selectedItem?.sale_price"
                            formControlName="price" (input)="newPriceInput($event)">
                        </div>
                                <!-- </div> -->
                            <!-- </div>
                        </div> -->
                        <!-- </div>
                        <div class="row mt-4"> -->
                        <div class="col-md-2">
                            <label class="adj-label" for="price">Margin</label><br>{{margin}}%
                            <!-- <input type="text" class="form-control" id="price" 
                            formControlName="price" (input)="limitMRP($event)"> -->
                        </div>
                        <div class="col-md-2">
                            <label class="adj-label" for="effdate">Saving</label><br>{{saving}}%
                            <!-- <input type="date" class="form-control" id="effdate" formControlName="effdate"> -->
                        </div>
                        <div class="col-md-12 p-0">
                            <label class="adj-label" for="Reason">Reason</label>
                            <textarea class="form-control" id="reason" 
                            formControlName="comments"></textarea>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                       
                    <!-- </div> -->
                    <div class="row mt-3">
                        <div class="col-md-12 p-0">
                            <button type="submit" class="btn btn-primary" [disabled]="!priceAdjustForm.valid">Submit</button>
                        </div>
                    </div>
                </div>
        </form>
</p-dialog>

<p-dialog header="Adjust Qty" [(visible)]="displayQtyAdjForm" [modal]="true">
        <form [formGroup]="qtyAdjustForm" (ngSubmit)="onQtyAdjSubmit()">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h5>{{selectedItem?.title}}</h5>
                            <p class="batch">{{selectedItem?.batch}} / {{selectedItem?.expdate | date: 'MMM-yy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label" for="purchase">Purchase</label><br>
                                {{(+selectedItem?.purchase_qty * selectedItem?.pack)}}
                        </div>
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label" for="price">Current</label><br>
                                {{selectedItem?.available_qty}}
                        </div>
                        <div class="col-md-2 m-0 p-0">
                            <label class="adj-label" for="qty">Change</label>
                                <input type="text" class="form-control" id="qty" max="0"
                                formControlName="qty" (input)="newQtyInput($event)">
                        </div>
                                <!-- </div> -->
                            <!-- </div>
                        </div> -->
                        <!-- </div>
                        <div class="row mt-4"> -->
                        <div class="col-md-2">
                            <label class="adj-label" for="newqty">Final</label><br>
                            {{finalqty}}
                            <!-- <input type="text" class="form-control" id="price" 
                            formControlName="price" (input)="limitMRP($event)"> -->
                        </div>
                        <div class="col-md-3 m-0 p-0">
                            <label class="adj-label" for="reason">Reason</label>
                            <select class="form-control" formControlName="reason">
                                <option value="">Select</option>
                                <option *ngFor="let c of qtyChangeReasons" [value]="c.value">{{c.label}}</option>
                            </select> 
                        </div>
                        <div class="col-md-12 p-0">
                            <label class="adj-label" for="comments">Comments</label>
                            <textarea class="form-control" id="comments" 
                            formControlName="comments"></textarea>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                       
                    <!-- </div> -->
                    <div class="row mt-3">
                        <div class="col-md-12 p-0">
                            <button type="submit" class="btn btn-primary" 
                            [disabled]="!qtyAdjustForm.valid">Submit</button>
                        </div>
                    </div>
                </div>
        </form>
</p-dialog>
