<app-stock-header></app-stock-header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        From: <input type="date" [(ngModel)]="fromdate" (input)="filter()" [max]="todate">
        To: <input type="date" [(ngModel)]="todate" (input)="filter()" [max]="todate">
          <input type="checkbox" 
          [(ngModel)]="incother" (change)="filter()"
          > Include Other
      </div>
      <div class="col-12">

            <p-table #dt1 [value]="items" 
            [resizableColumns]="true" columnResizeMode="expand" 
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
                [tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="id">ID
                          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                          <p-sortIcon field="id"></p-sortIcon>
                      </th>
                      <th pSortableColumn="title">Product
                          <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                          <p-sortIcon field="title"></p-sortIcon>
                      </th>
                      <th pSortableColumn="order_since">Order Since
                        <p-columnFilter type="text" field="order_since" display="menu"></p-columnFilter>
                        <p-sortIcon field="order_since"></p-sortIcon>
                    </th>
                    <th pSortableColumn="orders_freq">Order Freq
                      <p-columnFilter type="text" field="orders_freq" display="menu"></p-columnFilter>
                      <p-sortIcon field="orders_freq"></p-sortIcon>
                  </th>
                      <th pSortableColumn="total_orders">Orders
                          <p-sortIcon field="total_orders"></p-sortIcon>
                      </th>
                      <th pSortableColumn="sold_qty">Sold Qty
                          <p-sortIcon field="sold_qty"></p-sortIcon>
                      </th>
                      <th pSortableColumn="avail_qty">Avai Qty
                        <p-sortIcon field="avail_qty"></p-sortIcon>
                    </th>
                    <th pSortableColumn="start_order_date">Start Date
                      <p-columnFilter type="date" field="start_order_date" display="menu"></p-columnFilter>
                      <p-sortIcon field="start_order_date"></p-sortIcon>
                  </th>
                  <th pSortableColumn="end_order_date">Last Date
                    <p-columnFilter type="date" field="end_order_date" display="menu"></p-columnFilter>
                    <p-sortIcon field="end_order_date"></p-sortIcon>
                </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                      <td>{{i.id}}</td>
                      <td>{{i.title}}</td>
                      <td>{{i.order_since}}</td>
                      <td>{{i.orders_freq}}</td>
                        <td>{{i.total_orders}}</td>
                        <td>{{i.sold_qty}}</td>
                        <td>{{i.avail_qty}}</td>
                        <td>{{i.start_order_date | date : 'dd/MM/yyyy'}}</td>
                        <td>{{i.end_order_date | date : 'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>
            </p-table>    
      </div>
    </div>
  </div>