<div>
    <h4>Stock</h4>
</div>
<nav class="navbar navbar-light bg-light justify-content-between">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/secure/stock">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/stock/list">Master</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/stock/adjust">Adjustments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/stock/demand">Demand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/secure/stock/request">Requests</a>
        </li>
    </ul>
</nav>