<div class="pagetitle">
  <h1>Customers</h1>
</div>
<a [routerLink]="['new']"><button type="submit" class="btn btn-primary">Add New</button></a>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <!-- <th scope="col">Email</th> -->
      <th scope="col">Area</th>
      <th scope="col">Address</th>
      <!-- <th scope="col">Locality</th> -->
      <th scope="col">Source Type</th>
      <th scope="col">Source Info</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.mobile}}</td>
      <!-- <td>{{c.email}}</td> -->
      <td>{{c.area}}</td>
      <!-- <td>{{c.locality}}</td> -->
      <td>{{c.address}}</td>
      <td>{{c.srctype}}</td>
      <td>{{c.srcdesc}}</td>
      <td>{{c.createdon | date : 'dd/MM/yy'}}</td>
      <td>
        <a *isAuth="'customers.edit'" [routerLink]="['edit',c.id]">
          <i class="bi bi-pencil text-primary"></i>
        </a>
  <!--       
        <a (click)="onRemove(c.id)">
          <i class="bi bi-trash text-danger"></i>
        </a> -->
      </td>
    </tr>
  </tbody>
</table>
