  <nav class="navbar navbar-light bg-light justify-content-between non-print">
    <ul class="nav">
      <li class="nav-item" *isNavAuth>
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/settings/roles">Roles</a>
      </li>
      <li class="nav-item" *isNavAuth>
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/settings/users">Users</a>
      </li>
      <li class="nav-item" *isNavAuth>
        <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/settings/app">Application</a>
      </li>   
    </ul>
  </nav>