    <div class="row mt-2">
        <div class="col-12">
            <div class="d-flex">
                <input class="form-conrol-input checkmark" type="checkbox" name="available" id="available" [(ngModel)]="available" 
                (change)="fetchStock()"/>
            <label for="available" style="margin:.3em;padding-bottom:.5em;font-size: larger;">Available</label>
            <input class="form-conrol-input checkmark" type="checkbox" name="expired" id="expired" [(ngModel)]="expired" 
                (change)="fetchStock()"/>
            <label for="expired" style="margin:.3em;padding-bottom:.5em;font-size: larger;">Expired</label> 
            <app-product-select (selected)="onProductSelect($event)"></app-product-select>
            <!-- <button (click)="filter()" class="btn btn-primary">Filter</button>     -->
            </div>
        </div>
        
        <div class="col-12">
            <button (click)="audit()" [disabled]="!isItemsSelected()" class="btn btn-outline-info">Audit</button>
        </div>
        <div class="col-12">
            <p-table #dt1 [value]="items" [resizableColumns]="true" columnResizeMode="expand" 
            [paginator]="true" [rows]="25" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                [rowsPerPageOptions]="[25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <input type="checkbox" class="form-conrol-input checkmark" 
                            (change)="selectAllItem($event)">
                        </th>
                        <th pSortableColumn="invoice_no">Invoice No
                            <p-columnFilter type="text" field="invoice_no" display="menu"></p-columnFilter>
                            <p-sortIcon field="invoice_no"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="invoice_date">Invoice Date
                            <p-columnFilter type="date" field="invoice_date" display="menu">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                               </ng-template>
                            </p-columnFilter>
                            <p-sortIcon field="invoice_date"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="product_title">Product
                            <p-columnFilter type="text" field="product_title" display="menu"></p-columnFilter>
                            <p-sortIcon field="product_title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="product_expdate">Expiry
                            <p-sortIcon field="product_expdate"></p-sortIcon>
                        </th>
                        <th>Purchased</th>
                        <th pSortableColumn="sold">Sold
                            <p-columnFilter type="numeric" field="sold" display="menu"></p-columnFilter>
                            <p-sortIcon field="sold"></p-sortIcon>
                        </th>
                        <th>Adjusted</th>
                        <!-- <th>Pack</th> -->
                        <!-- <th pSortableColumn="expdate">Expiry
                            <p-columnFilter type="date" field="expdate" display="menu"></p-columnFilter>
                            <p-sortIcon field="expdate"></p-sortIcon>
                        </th> -->
                        <!-- <th pSortableColumn="life_left">Life
                            <p-columnFilter type="numeric" field="life_left" display="menu"></p-columnFilter>
                            <p-sortIcon field="life_left"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="available">Available
                            <p-columnFilter type="numeric" field="available" display="menu"></p-columnFilter>
                            <p-sortIcon field="available"></p-sortIcon>
                        </th>
                        
                        <th>Verified by</th>
                        <th pSortableColumn="verify_end_date">Verified On
                            <p-sortIcon field="verify_end_date"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="qtypcnt">Qty %
                            <p-sortIcon field="qtypcnt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="old_with_us">Old
                            <p-columnFilter type="numeric" field="old_with_us" display="menu"></p-columnFilter>
                            <p-sortIcon field="old_with_us"></p-sortIcon>
                        </th>
                        <th pSortableColumn="life_left">Life
                            <p-columnFilter type="numeric" field="life_left" display="menu"></p-columnFilter>
                            <p-sortIcon field="life_left"></p-sortIcon>
                        </th> -->
                       <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td><input type="checkbox" class="form-conrol-input checkmark" 
                            [checked]="i.selected" (change)="selectItem($event,i.id)"></td>
                        <td><a [routerLink]="['/secure/purchases/items',i.purchase_invoiceid]">{{i.invoice_no}}</a></td>
                        <!-- <td>{{i.invoice_date | date : 'dd/MM/yyyy'}}</td> -->
                        <td>
                            <p class="m-0">{{i.product_title}}</p>
                            <span class="batch">{{i.product_batch}}</span>
                        </td>
                        <td>{{i.product_expdate | date :'MMM-yy'}}</td>
                        <td class="text-end">{{i.purchased}}</td>
                        <td class="text-end">{{i.sold}}</td>
                        <td class="text-end">{{i.adjusted}}</td>
                        <!-- <td>{{i.life_left}}</td> -->
                        <td class="text-end">{{i.available}}</td>
                        <td>{{i.verified_username}}</td>
                        <td>{{i.verify_end_date | date}}</td>
                        <!-- <td style="text-align: right;">{{i.qtypcnt}}</td>
                        <td style="text-align: center;">{{i.old_with_us}}</td>
                        <td style="text-align: center;">{{i.life_left}}</td> -->
                       <td class="text-center"></td>
                    </tr>
                </ng-template>
            </p-table>    
        </div>
    </div>