    <div class="row mt-2">
        <div class="col-12">
            <div class="d-flex">
                <input class="form-conrol-input checkmark" type="checkbox" [(ngModel)]="criteria.active" 
                (change)="fetch()"/>
            <label for="available" style="margin:.3em;padding-bottom:.5em;font-size: larger;">Active</label>
            <input class="form-conrol-input checkmark" type="checkbox" [(ngModel)]="criteria.available" 
                (change)="fetch()"/>
            <label for="expired" style="margin:.3em;padding-bottom:.5em;font-size: larger;">Available</label> 
            <input class="form-conrol-input checkmark" type="checkbox" [(ngModel)]="criteria.expired" 
                (change)="fetch()"/>
            <label for="expired" style="margin:.3em;padding-bottom:.5em;font-size: larger;">Expired</label> 
            <!-- <app-product-select (selected)="onProductSelect($event)"></app-product-select> -->
            </div>
        </div>
    </div>
    <div>
        <!-- <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"></p-button>
        </div> -->
    <div class="row mt-2">
        <div class="col-6">
            <p-table [value]="products"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
            styleClass="p-datatable-gridlines p-datatable-sm app-table"
                currentPageReportTemplate="{totalRecords} Products" 
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Product
                            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                            <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="last_sale_date">Last
                            <p-sortIcon field="last_sale_date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="highest_customers" class="right">Cust.
                            <!-- <p-columnFilter type="number" field="highest_customers" display="menu"></p-columnFilter> -->
                            <p-sortIcon field="highest_customers"></p-sortIcon>
                        </th>
                        <th class="right">Avg.<br>Sales</th>
                        <th class="right">High<br>Sales</th>
                        <th pSortableColumn="balance" class="right">Avail
                            <p-sortIcon field="balance"></p-sortIcon>
                        </th>
                        <th pSortableColumn="level" class="right">Level
                            <p-sortIcon field="level"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr class="row-hover" [ngClass]="{'low': i.level < 20}" (click)="openData(i.id)">
                        <td>
                            
                            <!-- <a (click)="menu.toggle($event)">
                                <i class="bi bi-trash" style="color:gray"></i>
                            </a> -->

                            {{i.title}}</td>
                        <td>{{i.last_sale_date | date : 'MM/yy'}}</td>
                        <!-- <td>{{i.average_customers | number:'1.0-0'}}</td> -->
                        <td class="right">{{i.highest_customers}}</td>
                        <td class="right">{{i.average_sales | number:'1.0-0'}}</td>
                        <td class="right">{{i.highest_sales}}</td>
                        <td class="right"><strong>{{i.balance}}</strong></td>
                        <td class="right">{{i.level}}</td>
                    </tr>
                </ng-template>
            </p-table>    
        </div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
    </div>