@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@media print {
    body {
        font-size: x-small;
    }
    .pagetitle,
    .header,
    .sidebar,
    .non-print {
        visibility: hidden;
    }
    body,
    .main,
    .pagetitle,
    .bill-view {
        padding: 0;
        margin: 0;
    }
    .bill-view {
        position: fixed;
        top: 0;
        left: 0;
    }
    .bill-head{
        font-size: smaller;
    }
    .no-print {
        visibility: hidden;
    }
    .sale-items {
        font-size: xx-small;
        /* font-weight: bolder; */
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0px auto;
    }
    .sale-items th.billdt {
        width:6%
    }
    .sale-items th.billno {
        width:6%
    }
    .sale-items th.doctor {
        width:10%
    }
    .sale-items th.customer {
        width:10%
    }
    .sale-items th.phone {
        width:8%
    }
    .sale-items th.address {
        width:10%
    }.sale-items th.batch {
        width:12%
    }.sale-items th.product {
        width:15%
    }.sale-items th.qty {
        width:4%
    }
    .p-tabview-panels {
        margin:0;
        padding:0;
    }
    /* .bill-view table{
        width: 100%;
    }
    .bill-view cen {
        text-align: center;
    }
    .bill-view right {
        text-align: right;
    }
    .bill-view left {
        text-align: left;
    } */

  }
  
  .page-menu a {
    color: #333;
    font-size: large;
  }

  .checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .sale-summary {
    padding: .4em 0 .4em;
    font-size: large;
  }
.batch {
    color:blue;font-style:italic;font-size:medium;font-weight:bold;
}

.h1-badge {
    margin-left:.5em;
    padding: .3em .5em; 
    background: red;
    color:white;
    font-weight: bold;
    font-size: small;
}

.icon {
    display:inline;
    margin-left:0.5em;
}

.icon a {
    cursor: pointer;
    margin-right: .5em;
}

.document-nav{
    cursor:pointer;
    margin: 0;
    padding: 0;
}

.document-nav:hover{
    background-color: yellow;
}
.customer span{
    padding-right: 1em;
}
.customer span i{
    padding-right: .5em;
}

.documents ul{
    margin: 0;
    padding: 0;
}
.documents li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.document label {
    margin-right:.5em;
    font-weight: bold;
}
.orderitemsciteria .criteria {
    margin-right: 1.5em;
}

.orderitemsciteria .criteria label{
    padding-bottom: .5em;;
}

.sale-history-item:hover {
    background: #dde;
}

.props {
    margin: 0;
    padding: 0;
}

.props li {
    margin: 0;
    padding-right: 1em;
    list-style: none;
    float: left;
}

.props div {
    margin-right: 1em;
}

.price-comp {
    margin-right: .5em;
}

.price-comp label {
    text-align: right;
    width: 100%;
}

.price-comp h6 {
    text-align: right;
    font-weight: bold;
    font-size: x-large;
}

.range label{
    width: 80px;
}

.expired {
    background: #dde !important;
}

.low {
    background: #fdd !important;
}

.row-hover:hover {
    background: #ccc !important;
    cursor: pointer;
}