<!-- <app-sale-header></app-sale-header> -->
<div class="container m-0">
    <div class="row">
        <div class="col-12">
            <table class="table mt-4">    
                <tr>
                    <!-- Customer Info -->
                    <td>
                        <app-customer-select *ngIf="sale.customer == undefined || !(sale.customer?.mobile !== ''); else showCustomer" (customerSelected)="selectCustomer($event,true)">
                        </app-customer-select>
                        <ng-template #showCustomer>
                            <div><strong>Customer:</strong> {{sale.customer?.name}} ({{sale.customer?.mobile}})
                                <h5 style="display:inline;margin-left:0.5em">
                                    <a (click)="showPrevSalesCopy()">
                                        <i class="bi bi-files text-success"></i>
                                    </a>&nbsp;
                                    <a (click)="resetCustomer()">
                                        <i class="bi bi-x-square text-danger"></i>
                                    </a>
                                </h5>
                            </div>
                        </ng-template>
                    </td>
                    <!-- Bill Info-->
                    <td class="text-end">
                        <strong>Bill Date:</strong>&nbsp;{{sale.billdate | date: 'dd/MM/yy'}}
                        <span *ngIf="sale.status !== 'NEW' && sale.billno">&nbsp;<strong>Bill No:</strong>&nbsp;{{sale.billno}}</span>
                    </td>
                </tr>
                <!-- Sale Items -->
                <tr>
                    <td colspan="2">
                        <app-sale-form-items [items]="sale.items" 
                            (itemRemoved)="onItemRemoved($event)"
                            (itemAdded)="onItemAdd($event)" (itemUpdated)="onItemUpdate($event)">
                        </app-sale-form-items>
                    </td>
                </tr>
                <!-- <tr>
                    <td colspan="2">
               
                <span>Discount</span>
                
                <select [(ngModel)]="offer.code" class="form-control" (change)="selectOffer($event)">
                    <option *ngFor="let o of offers" [value]="o.code">{{o.code}}</option>
                </select>
            
                <input type="number" class="form-control" [(ngModel)]="offer.amount" size="4"
                (input)="applyDiscount()"
                [disabled]="!offer.input">
            
                    </td>
                </tr> -->
                <!-- Total -->
                <tr *ngIf="sale.items && sale.items.length > 0" style="background:#ccc;">
                    <td colspan="2">
                        <!-- <div class="container"> -->
                            <div class="row m-0 p-0">
                                <div class="col-1">
                                    <strong>{{sale.totalitems}}</strong> items
                                </div>
                                <!-- <div class="col-1">
                                    MRP:<i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.mrptotal}}
                                </div> -->
                                <div class="col-1">
                                    Save: {{sale.saving}}%
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-3">
                                            <!-- Credit (future) -->
                                        </div>
                                        <div class="col-6 d-flex flex-row">
                                            <select class="form-control" [(ngModel)]="sale.paymode">
                                                <option value="PayTM">PayTM</option>
                                                <option value="GPay">GPay</option>
                                                <option value="Card">Card</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <input type="text" class="form-control" [(ngModel)]="sale.payrefno" placeholder="Ref#">
                                        </div>
                                        <div class="col-3 d-flex flex-row text-end">
                                            <input type="checkbox" class="form-control-input" [(ngModel)]="isCash" style="width: 2em; height: 2em;" (change)="changeToCash($event)">
                                            <label style="padding-top:.3em;padding-left:.25em;padding-right:.5em;">Cash</label>
                                            <input type="text" class="form-control" [(ngModel)]="sale.cashamt" (input)="tenderBal($event)">
                                            <span class="input-group-text" [ngStyle]="{'font-size': 'larger', 'background-color': cashbal < 0 ? 'red' : 'blue','color':'white'}">{{cashbal}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-end">
                                    <h5>
                                    Net Total: <span style="background-color: rgb(65, 236, 60);font-size: x-large;padding: .25em;"><i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.total}}</span>
                                    </h5>
                                </div>
                            </div>
                        <!-- </div> -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <button (click)="discard()" *ngIf="sale.id && sale.status !== 'NEW'"
            class="btn btn-outline-danger m-2">Discard</button>
        </div>
        <div class="col-4 text-end">
            <button (click)="submit('COMPLETE')" class="btn btn-primary m-2" 
                        [disabled]="!isCompleteReady()">Complete</button>    
            <button (click)="submit('PENDING')" 
                class="btn btn-outline-secondary m-2" [disabled]="total === 0">Save</button>    
            <!-- <a *isAuth="'sales.add'" [routerLink]="['/secure/sales/new']">
                <button type="button" *ngIf="sale.status === 'PENDING'" (click)="submit('DISCARD')" class="btn btn-primary m-2">New Sale</button></a> -->
            <!-- <button type="button" (click)="cancel()" class="btn btn-outline-secondary m-2">Cancel</button> -->
        </div>
    </div>
</div>

<!-- Information to capture for H1 -->
<p-dialog header="Prescription" [(visible)]="displaySalePropsForm" [modal]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmitSaleProps()">
        <div class="row g-2 bg-light pb-3 mt-3" formGroupName="props" *ngIf="saleprops.length > 0">
            <!-- <div class="col-md-12">
                <input type="checkbox" name="selectCu" (change)="copyCustomerInfo($event)">Copy Customer Info to Patient
            </div> -->
            <div class="col-md-4" *ngFor="let pp of saleprops">
                <label class="form-label">{{pp.label}}<span class="text-danger" *ngIf="pp.required"> *</span></label> 
                <select class="form-control" formControlName={{pp.id}} *ngIf="pp.type === 'SINGLE-SELECT'">
                    <option value="">Select</option>
                    <option *ngFor="let c of pp.choices" [value]="c.value">{{c.label}}</option>
                </select> 
                <input *ngIf="!pp.type" type="text"
                        class="form-control" formControlName={{pp.id}}>
                <div *ngIf="pp.type === 'CHECK'">
                <input type="checkbox" class="form-check-input" formControlName={{pp.id}}> Yes
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        <button type="submit" class="btn btn-secondary">Skip</button>
    </form>
</p-dialog>

<!-- Customer Previous Sales -->
<p-dialog [header]="this.sale?.customer?.name + ' (' + this.sale?.customer?.mobile + ')'" 
        [(visible)]="displayPrevSalesCopy" [modal]="true">
    <div *ngFor="let s of prevCustSales; index as i">
            <ul class="list-group mt-2">
                <li class="list-group-item" style="background-color: #9cf;">
                    <input type="checkbox" (change)="toggleAll(i,$event)">
                    <span class="text-primary fs-6 pl-2">&nbsp;&nbsp; <strong>{{s.billdate | date : 'dd-MMM-yy'}}</strong></span>
                </li>
                <li class="list-group-item" *ngFor="let i of s.items">
                    <input type="checkbox" (change)="selectItem(i.productid,$event)" [checked]="i.selected">
                    <span class="p-2">{{i.title}} ({{i.qty}})</span></li>
            </ul>
    </div>
    <div class="mt-2">
    <button type="button" class="btn btn-primary mt-2 text-center"
            (click)="copySelectedItem()">Copy</button>
        </div>
</p-dialog>

<!-- Customer Info form (shown if no customer already selected)-->
<p-dialog [header]="(this.sale?.customer?.name || 'Customer') + ' (' + (this.sale?.customer?.mobile || '') + ')'" 
            [(visible)]="displayNewCustomer" [modal]="true">
        <div class="row">
            <div class="col-lg-6">
                <app-customer-select (customerSelected)="selectCustomer($event, false)"></app-customer-select>
            </div>
            <div class="col-lg-6">
                <input type="text" name="custMobile" id="custMobile" maxlength="10" class="form-control" placeholder="Mobile"
                [value]="sale.customer?.mobile||''" 
                (input)="updateCustomer('mobile',$event)">
                <br>
                <input type="text" name="custName" id="custName" class="form-control" placeholder="Name"
                [value]="sale.customer?.name||''" 
                (input)="updateCustomer('name',$event)">
                <br>
                <input type="text" name="custEmail" id="custEmail" class="form-control" placeholder="Email"
                [value]="sale.customer?.email||''" 
                (input)="updateCustomer('email',$event)">
            </div>
        </div>
        <!-- show below section if the customer is not found -->
        <!-- <div class="row mt-2">
            <div class="col-lg-6">
                    <input type="text" name="custArea" id="custArea" class="form-control" placeholder="Area"
                [value]="sale.customer?.area||''" (input)="updateCustomer('area',$event)">
            </div>
            <div class="col-lg-4">
                    <input type="text" name="custLocal" id="custLocal" class="form-control" placeholder="Locality"
                [value]="sale.customer?.locality||''" (input)="updateCustomer('locality',$event)">
            </div>
            <div class="col-lg-6">
                    <textarea name="custAddr" id="custAddr" class="form-control" placeholder="Address"
                (input)="updateCustomer('address',$event)">{{sale.customer?.address||''}}</textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <select name="srctype" [value]="sale.customer?.srctype"  class="form-control" 
                            (change)="updateCustomer('srctype',$event)">
                    <option value="">Select</option>
                    <option *ngFor="let st of custCustomerTypes" [value]="st.value">{{st.label}}</option>
                </select>
            </div>
            <div class="col-lg-6">
                    <input type="text" name="custSrcText" id="custSrcText" class="form-control"
                    [value]="sale.customer?.srcdesc||''" (input)="updateCustomer('srcdesc',$event)">
            </div>
        </div> -->
        <div class="row mt-2">
            <div class="col-lg-12">
                <!-- <button class="btn btn-primary m-2 text-center" 
                (click)="saveCustomerInfo('PENDING')">Save</button> -->
                <button class="btn btn-primary m-2 text-center" 
                (click)="saveCustomer()">Save</button>
                <button class="btn btn-outline-secondary m-2"
                (click)="cancelCustomer()">Continue</button>
                
            </div>
        </div>
</p-dialog>
