<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">Date: {{this.sale.billdate | date: 'dd-MMM hh:mm a'}}</div>
            <div class="col-lg-4"><span *ngIf="this.sale.id">No: {{this.sale.id}}</span></div>
            <div class="col-lg-4">Status: {{this.sale.status}}</div>
        </div>
        <div class="row mt-3 mb-3" *ngIf="isNewCustomer(); else saleCustomer">
            <div class="col-lg-3">
                <app-customer-select 
                    (customerSelected)="selectCustomer($event)"
                    (focusLeave)="doneEnterCustomer($event)">
                    </app-customer-select>
                    <!-- <a href="javascript:void(0)" (click)="closeChangeCustomer()">
                        <i class="bi bi-x-square text-primary"></i></a> -->
            </div>
        </div>
           
        <ng-template #saleCustomer>
            <div class="row">
                <div class="col-lg-3">Mobile: {{sale.customer?.mobile}}
                   <div *ngIf="!sale.customer?.mobile.startsWith('000')">
                    <span class="ml-2" *ngIf="sale.status === 'NEW' || sale.status=== 'PENDING'">
                        <a href="javascript:void(0)" (click)="showChangeCustomer('Edit')">
                        <i class="bi bi-pencil text-primary"></i></a>
                    </span>
                        <a *ngIf="!isNewCustomer()" (click)="showPrevSalesCopy()">
                            <i class="bi bi-files text-success"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3" *ngIf="!sale.customer?.mobile.startsWith('000')">Name: {{sale.customer?.name}}</div>
                <!-- <div class="col-lg-3">Email: {{sale.customer?.email}}</div> -->
                <div class="col-lg-3" *ngIf="!sale.customer?.mobile.startsWith('000')">Address: {{sale.customer?.address}}</div>
            </div>
        </ng-template>

        <app-sale-form-items [items]="sale.items" 
            [customer]="sale.customer"
            [sale]="sale"
            (removed)="removeItem($event)"
            (recalculateTotal)="recalculateTotal($event)">
        </app-sale-form-items>
    </div>
</div>

<div class="row">
    <div class="col-6" *ngIf="sale.status === 'NEW' || sale.status === 'PENDING'">
        <button type="button" (click)="submit('PENDING')" class="btn btn-primary m-2" 
                    [disabled]="total === 0">Save</button>    
        <button (click)="submit('COMPLETE')" class="btn btn-primary m-2" 
                    [disabled]="!completeAllowed()">Complete</button>    
    </div>
    <div class="col-6">
        <button *ngIf="sale.status === 'PENDING'" (click)="submit('DISCARD')" class="btn btn-primary m-2">Discard</button>
        
        <!-- <a *isAuth="'sales.add'" [routerLink]="['/secure/sales/new']">
            <button type="button" *ngIf="sale.status === 'PENDING'" (click)="submit('DISCARD')" class="btn btn-primary m-2">New Sale</button></a> -->
        <button type="button" (click)="cancel()" class="btn btn-outline-primary m-2">Cancel</button>        
    </div>
</div>

<p-dialog header="Prescription" [(visible)]="displaySalePropsForm" [modal]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmitSaleProps()">
        <div class="row g-2 bg-light pb-3 mt-3" formGroupName="props" *ngIf="saleprops.length > 0">
            <div class="col-md-12">
                <input type="checkbox" name="selectCu" (change)="copyCustomerInfo($event)">Copy Customer Info to Patient
            </div>
            <div class="col-md-4" *ngFor="let pp of saleprops">
                <label class="form-label">{{pp.label}}<span class="text-danger" *ngIf="pp.required"> *</span></label> 
                <select class="form-control" formControlName={{pp.id}} *ngIf="pp.type === 'SINGLE-SELECT'">
                    <option value="">Select</option>
                    <option *ngFor="let c of pp.choices" [value]="c.value">{{c.label}}</option>
                </select> 
                <input *ngIf="!pp.type" type="text"
                        class="form-control" formControlName={{pp.id}}>
                <div *ngIf="pp.type === 'CHECK'">
                <input type="checkbox" class="form-check-input" formControlName={{pp.id}}> Yes
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>
</p-dialog>

<p-dialog [header]="this.sale?.customer?.name + ' (' + this.sale?.customer?.mobile + ')'" 
        [(visible)]="displayPrevSalesCopy" [modal]="true">
    <div *ngFor="let s of previousSaleItems">
        {{s.billdate | date : 'dd/MM'}} | ${{s.total}}
            <ul class="list-group mt-2">
                <li class="list-group-item" *ngFor="let i of s.items">
                    <input type="checkbox" (change)="selectItem(i.id,$event)" [checked]="i.selected">&nbsp;
                    {{i.title}} ({{i.qty}})</li>
            </ul>
    </div>
    <button type="button" class="btn btn-primary mt-2 text-center" [disabled]="!copyItemSelected()" (click)="copySelectedItem()">Copy</button>
</p-dialog>

<p-dialog [header]="(this.sale?.customer?.name || 'New Customer') + ' (' + (this.sale?.customer?.mobile || '') + ')'" 
            [(visible)]="displayNewCustomer" [modal]="true">
        <div class="row">
            <div class="col-lg-6">
                <input type="text" name="custName" id="custName" class="form-control" placeholder="Name"
                [value]="sale.customer?.name||''" (input)="updateCustomer('name',$event)">
            </div>
            <div class="col-lg-6">
                <input type="text" name="custMobile" id="custMobile" class="form-control" placeholder="Mobile"
                [value]="sale.customer?.mobile||''" (input)="updateCustomer('mobile',$event)">
            </div>
            <!-- <div class="col-lg-4">
                <input type="text" name="custEmail" id="custEmail" class="form-control" placeholder="Email"
                [value]="sale.customer?.email||''" (input)="updateCustomer('email',$event)">
            </div> -->
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                    <input type="text" name="custArea" id="custArea" class="form-control" placeholder="Area"
                [value]="sale.customer?.area||''" (input)="updateCustomer('area',$event)">
            </div>
            <!-- <div class="col-lg-4">
                    <input type="text" name="custLocal" id="custLocal" class="form-control" placeholder="Locality"
                [value]="sale.customer?.locality||''" (input)="updateCustomer('locality',$event)">
            </div> -->
            <div class="col-lg-6">
                    <textarea name="custAddr" id="custAddr" class="form-control" placeholder="Address"
                (input)="updateCustomer('address',$event)">{{sale.customer?.address||''}}</textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <select name="srctype" [value]="sale.customer?.srctype"  class="form-control" 
                            (change)="updateCustomer('srctype',$event)">
                    <option value="">Select</option>
                    <option *ngFor="let st of custCustomerTypes" [value]="st.value">{{st.label}}</option>
                </select>
            </div>
            <div class="col-lg-6">
                    <input type="text" name="custSrcText" id="custSrcText" class="form-control"
                    [value]="sale.customer?.srcdesc||''" (input)="updateCustomer('srcdesc',$event)">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary m-2 text-center" 
                (click)="saveCustomerInfo('PENDING')">Save</button>
                <button type="button" *ngIf="!customerEditOnly" class="btn btn-primary m-2 text-center" 
                (click)="saveCustomerInfo('COMPLETE')">Save & Complete</button>
            </div>
        </div>
    
</p-dialog>