<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Batch</th>
            <th>Use by</th>
            <th>MRP</th>
            <th>Qty</th>
            <th>Rate</th>
            <!-- <th>Tax</th> -->
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td width="3%">
                <span *ngIf="item.edited">
                <a (click)="removeItem(item.id)">
                <i class="bi bi-trash text-danger"></i>
                </a>
            </span>
            </td>
            <td width="35%">
                <app-stock-select *ngIf="!item.edited"
                [item]="item" (stockSelected)="selectProduct(item.id,$event)"
                [itemsSelected]="items"></app-stock-select>
                <p *ngIf="item.title" style="margin:0;padding:0;"><strong>{{item.title}}</strong><br><span style="color:#999;font-style: italic;">{{item.more_props?.composition}}</span></p>
            </td>
            <td width="10%">
                {{item.batch}}
            </td>
            <td width="5%">{{item.expdate | date : 'MMM-yy'}}</td>
            <td width="7%" style="text-align: right;">{{item.mrpcost}}</td>
            <td width="25%">
                <div class="input-group mb-3" *ngIf="item.edited">
                    <!-- <input type="number" min="0" name="box" class="form-control"
                    [value]="item.box == 0 ? '' : item.box" (input)="boxInputValidate($event,item.maxqty,item.pack,item.id)">
                    <input type="number" min="0" class="form-control" name="boxitem" 
                    [value]="item.boxbal == 0 ? '' : item.boxbal" (input)="boxitemInputValidate($event,item.maxqty,item.pack,item.id)"> 
                <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">{{item.balqty}}</span>
                    </div>
                -->
                    <input type="number" [value]="item.qty" class="form-control"
                        [disabled]="item.maxqty == 0"
                        [ngStyle]="{'background-color': +item.qty > +item.maxqty ? '#f00' : '#9df'}"
                        (input)="calculate(item.id,$event)">
                    
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">{{item.unitsbal}}</span>
                    </div>
                </div>
            </td>
            <td width="5%" style="text-align: right;">{{(item.price).toFixed(2)||''}}</td>
            
            <!-- <td width="7%" style="text-align: right;">{{item.taxpcnt}}</td> -->
            <td width="10%" style="text-align: right;">{{item.total}}</td>
        </tr>
        <!-- <tr>
            <td></td>
            <td colspan="5">
                <div class="d-flex justify-content-end">
                <div>
                <span>Discount</span>
                </div>
                <div>
                <select [(ngModel)]="offer.code" class="form-control" (change)="selectOffer($event)">
                    <option *ngFor="let o of offers" [value]="o.code">{{o.code}}</option>
                </select>
            </div>
                </div>
            </td>
            <td>
                <input type="number" class="form-control" [(ngModel)]="offer.amount" size="4"
                (input)="applyDiscount()"
                [disabled]="!offer.input">
            </td>
        </tr> -->
       
    </tbody>
</table>