<app-sale-header></app-sale-header>

Sale Reminder


<p-table #dt1 [value]="customers" [resizableColumns]="true" columnResizeMode="expand" 
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
    [tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]">
    <!-- <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" 
                (input)="applyFilterGlobal($event, 'contains')"
                placeholder="Search keyword" />
            </span>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="custname">Name 
                <!-- <p-columnFilter type="text" field="category" display="menu"></p-columnFilter> -->
                <p-sortIcon field="custname"></p-sortIcon>
            </th>
            <th pSortableColumn="custmobile">Mobile 
                <!-- <p-columnFilter type="text" field="category" display="menu"></p-columnFilter> -->
                <p-sortIcon field="custmobile"></p-sortIcon>
            </th>           
            <th pSortableColumn="sincemonths">Period
                <p-columnFilter type="numeric" field="sincemonths" display="menu"></p-columnFilter>
                <p-sortIcon field="sincemonths"></p-sortIcon>
            </th>
            <th pSortableColumn="recentvisit">Last Seen
                <p-columnFilter type="numeric" field="recentvisit" display="menu"></p-columnFilter>
                <p-sortIcon field="recentvisit"></p-sortIcon>
            </th>
            <th pSortableColumn="sincerecentdays">Days Ago
                <p-columnFilter type="numeric" field="sincerecentdays" display="menu"></p-columnFilter>
                <p-sortIcon field="sincerecentdays"></p-sortIcon>
            </th>
            <th pSortableColumn="recenttotal">Bill Amt
                <p-columnFilter type="numeric" field="recenttotal" display="menu"></p-columnFilter>
                <p-sortIcon field="recenttotal"></p-sortIcon>
            </th>
            <th pSortableColumn="expreturndays">Days
                <p-columnFilter type="numeric" field="expreturndays" display="menu"></p-columnFilter>
                <p-sortIcon field="expreturndays"></p-sortIcon>
            </th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.custname}}</td>
            <!-- <td>{{product.code}}</td> -->
            <td>{{customer.custmobile}}</td>
            <td>{{customer.sincemonths}}</td>
            <td>{{customer.recentvisit | date: 'dd-MMM'}}</td>
            <td>{{customer.sincerecentdays}}</td>
            <td>{{customer.recenttotal}}</td>
            <td>{{customer.expreturndays}}</td>
            
            <td style="text-align: center;">
                <!-- <a *isAuth="'products.edit'" [routerLink]="['../edit', product.id]">
                    <i class="bi bi-pencil-square text-primary"></i>
                </a>&nbsp;
                <a *isAuth="'products.delete'" (click)="delete(product.id)">
                    <i class="bi bi-trash text-danger"></i>
                </a> -->
                <a [routerLink]="['/secure/sales/view',customer.recentsaleid]">View</a>
                <span *ngIf="customer.remindcustomer">Remind</span>
            </td>
        </tr>
    </ng-template>
</p-table>