<div class="row">
    <div class="col-12">
        <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onChange)="viewPeriod($event)">
            <p-tabPanel *ngFor="let p of periods" [header]="p.period">
                <div class="col-12 mt-1">
                    <button type="button" class="btn btn-outline-primary mt-2 text-center"
                        (click)="copySelectedItem()">Copy</button>
                </div>
                <div class="col-12">
                    <div *ngFor="let s of prevCustSales; index as i">
                        <ul class="list-group mt-2">
                            <li class="list-group-item" style="background-color: #9cf;">
                                <input type="checkbox" style="width:15px;height:15px;" (change)="toggleAll(i,$event)">
                                <span class="text-primary fs-6 pl-2">&nbsp;&nbsp; <strong>{{s.billdate | date : 'dd-MMM-yy'}}</strong></span>
                            </li>
                            <li class="list-group-item" *ngFor="let i of s.items">
                                <input type="checkbox" style="width:15px;height:15px;" (change)="selectItem(i.productid,$event)" [checked]="i.selected">
                                <span class="p-2">{{i.title}} ({{i.qty}})</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <button type="button" class="btn btn-outline-primary mt-2 text-center"
                        (click)="copySelectedItem()">Copy</button>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    
</div>