<div>Sales</div>
<nav class="navbar navbar-light bg-light justify-content-between">
    
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/secure/sales">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/secure/sales/reminder">Reminders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/secure/sales/list">Report</a>
        </li>
      </ul>
        <ul class="list-inline">
            <li class="list-inline-item">
                <!-- <input class="form-control" type="search" placeholder="Customer"> -->
                <!-- <app-customer-select 
                (customerSelected)="selectCustomer($event)"
                (focusLeave)="doneEnterCustomer($event)">
                </app-customer-select> -->
            </li> 
            <li class="list-inline-item">
                <a *isAuth="'sales.add'" [routerLink]="['/secure/sales/new']">
                    <button class="btn btn-primary no-print">New Sale</button>
                </a>
            </li>
          </ul>
  </nav>