<!-- <div class="pagetitle no-print">
  <h1>Sales</h1>
</div> -->
<app-sale-header></app-sale-header>
<div class="row">
  <div class="col-12">


  <p-tabView>
    <p-tabPanel header="Invoice Level" headerStyleClass="no-print">
    <div class="row mt-3 no-print">
    
      <div class="col-md-2">
        <label for="fromdate">Date</label>
        <input type="date" id="fromdate" name="filterbydate" class="form-control" [(ngModel)]="date" (change)="filterDateSales($event, 'date')">
      </div>
      <div class="col-md-1">
        <br>
        <input class="form-check-input" type="checkbox" name="self" id="self" [(ngModel)]="self" (change)="filterDateSales($event, 'self')"/>
        <label for="self">&nbsp;Self</label>
      </div>

      <div class="col-md-2">
        <label for="sustomer">Customer</label><br>
        <app-customer-select id="customer" (customerSelected)="filterCustomerSales($event)"></app-customer-select>
      </div>  
      <div class="col-md-2">
        <label for="billno">Bill No</label>
        <input type="text" id="billno" name="filterbybillno" class="form-control" 
          (input)="filterBillSales($event)">
      </div>

      
      
      <!-- <div class="col-md-2">
        <label for="status">Status</label>
        <select name="filterbystatus" id="status" class="form-control" [(ngModel)]="criteria.status" (change)="fetchSales()">
          <option value=""></option>
          <option value="PENDING">PENDING</option>
          <option value="COMPLETE">COMPLETE</option>
        </select>
      </div> -->
      <!-- <div class="col-md-2">
        <BR>
          <button type="button" class="btn btn-primary" (click)="fetchSales()">Search</button>
          &nbsp;&nbsp;<button type="button" class="btn btn-outline-primary" (click)="clearFilter()">Clear</button>
      </div> -->
      <!-- </div> -->
    </div>
    <!-- <table class="table table-bordered mt-4">
      <thead> -->
      <div class="row">
      <div class="col-12">
  <p-table #dt1 [value]="sales" [resizableColumns]="true" columnResizeMode="expand" 
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
          <!-- <th>Order #</th> -->
          <th pSortableColumn="billno">Bill #
            <p-columnFilter type="text" field="billno" display="menu"></p-columnFilter>
            <p-sortIcon field="billno"></p-sortIcon>
          </th>
          <th pSortableColumn="billdate">Date
            <p-columnFilter type="date" field="billdate" display="menu"></p-columnFilter>
            <p-sortIcon field="billdate"></p-sortIcon>
          </th>
          <th pSortableColumn="customer.name">Cust. Name
            <p-columnFilter type="text" field="customer.name" display="menu"></p-columnFilter>
            <p-sortIcon field="customer.name"></p-sortIcon>
          </th>
          <th pSortableColumn="customer.mobile">Cust. Mobile
            <p-columnFilter type="text" field="customer.mobile" display="menu"></p-columnFilter>
            <p-sortIcon field="customer.mobile"></p-sortIcon>
          </th>
          <!-- <th>Sale Person</th> -->
          <th pSortableColumn="status">Status
            <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="total">Total
            <p-columnFilter type="numeric" field="total" display="menu"></p-columnFilter>
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      <!-- </thead>
        <tbody> -->
        </ng-template>
        <ng-template pTemplate="body" let-s>
          <tr>
            <!-- <td>{{s.orderno}}</td> -->
            <!-- <td>
              <a>{{s.orderno}}</a>
            </td> -->
            <td>
              <a>{{s.billno}}</a>
            </td>

            <td>{{s.billdate | date: 'dd/MM/yy'}}</td>
            <td>{{s.customer ? s.customer.name : ''}}</td>
            <td>{{s.customer ? s.customer.mobile : ''}}</td>
            <!-- <td>{{s.created ? s.created.fullname : ''}}</td> -->
            <td>{{s.status}}</td>
            <td style="text-align: right;">{{s.total}}</td>
            <td>
              <h5 *ngIf="isActionAllowed('Print',s)" style="float:left; margin-right: 0.3em;">
                <a [routerLink]="['../view',s.id]"><i class="bi bi-eye"></i></a>
              </h5>
              <h5 *ngIf="isActionAllowed('Edit',s)" style="float:left; margin-right: 0.3em;">
                <a [routerLink]="['../edit',s.id]"><i class="bi bi-pencil"></i></a>
              </h5>
              <!-- <h5 *ngIf="isActionAllowed('Return',s)" style="float:left; margin-right: 0.3em;">
              <a [routerLink]="['../edit',s.id]"><i class="bi bi-arrow-return-left"></i></a>
            </h5> -->
              <!-- <a *ngIf="isActionAllowed('Cancel',s)" [routerLink]="['../edit',s.id]">Cancel</a> -->
            </td>
          </tr>  
        <!-- </tbody>
      </table> -->
    </ng-template>
  </p-table>
</div>
</div>
    </p-tabPanel>
    <p-tabPanel header="Product Level" headerStyleClass="no-print">
      <app-sale-items></app-sale-items>
<!-- 
      <app-sale-items [category]="'Drug'" [props]="[{id:'schedule',value:'H1'}]"></app-sale-items>
   --></p-tabPanel>
  </p-tabView>


</div>
</div>