<div class="pagetitle no-print">
  <h1>Sales</h1>
</div>

<a *isAuth="'sales.add'" [routerLink]="['../new']">
  <button type="submit" class="btn btn-primary no-print">New Sale</button></a>
  <p-tabView>
    <p-tabPanel header="Invoice Level" headerStyleClass="no-print">
    <div class="row mt-3 no-print">
      <div class="col-md-2">
        <label for="fromdate">Date</label>
        <input type="date" id="fromdate" name="filterbydate" class="form-control" 
              [(ngModel)]="criteria.date" (input)="fetchSales()">
      </div>
      <div class="col-md-3">
        <label for="sustomer">Customer</label><br>
        <app-customer-select id="customer" (customerSelected)="selectCustomer($event)"></app-customer-select>
      </div>
      <div class="col-md-2">
        <label for="status">Status</label>
        <select name="filterbystatus" id="status" class="form-control" [(ngModel)]="criteria.status" (change)="fetchSales()">
          <option value=""></option>
          <option value="PENDING">PENDING</option>
          <option value="COMPLETE">COMPLETE</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label><br>
        <button type="button" class="btn btn-outline-primary" (click)="clearFilter()">Clear</button>
      </div>
    </div>
    <!-- <table class="table table-bordered mt-4">
      <thead> -->
  <p-table #dt1 [value]="sales" [resizableColumns]="true" columnResizeMode="expand" 
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
    [tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">No.
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="billdate">Date
            <p-columnFilter type="date" field="billdate" display="menu"></p-columnFilter>
            <p-sortIcon field="billdate"></p-sortIcon>
          </th>
          <th pSortableColumn="customer.name">Cust. Name
            <p-columnFilter type="text" field="customer.name" display="menu"></p-columnFilter>
            <p-sortIcon field="customer.name"></p-sortIcon>
          </th>
          <th pSortableColumn="customer.mobile">Cust. Mobile
            <p-columnFilter type="text" field="customer.mobile" display="menu"></p-columnFilter>
            <p-sortIcon field="customer.mobile"></p-sortIcon>
          </th>
          <!-- <th>Sale Person</th> -->
          <th pSortableColumn="status">Status
            <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="total">Total
            <p-columnFilter type="numeric" field="total" display="menu"></p-columnFilter>
            <p-sortIcon field="total"></p-sortIcon>
          </th>
        </tr>
      <!-- </thead>
        <tbody> -->
        </ng-template>
        <ng-template pTemplate="body" let-s>
          <tr>
            <td>
              <a *ngIf="s.status !== 'COMPLETE'" [routerLink]="['../edit',s.id]">{{s.id}}</a>
              <a *ngIf="s.status === 'COMPLETE'" [routerLink]="['../view',s.id]">{{s.id}}</a>
            </td>
            <td>{{s.billdate | date: 'dd-MMM, hh:mm a'}}</td>
            <td>{{s.customer ? s.customer.name : ''}}</td>
            <td>{{s.customer ? s.customer.mobile : ''}}</td>
            <!-- <td>{{s.created ? s.created.fullname : ''}}</td> -->
            <td>{{s.status}}</td>
            <td style="text-align: right;">{{s.total}}</td>
          </tr>  
        <!-- </tbody>
      </table> -->
    </ng-template>
  </p-table>
    </p-tabPanel>
    <p-tabPanel header="Product Level" headerStyleClass="no-print">
      <app-sale-items></app-sale-items>
<!-- 
      <app-sale-items [category]="'Drug'" [props]="[{id:'schedule',value:'H1'}]"></app-sale-items>
   --></p-tabPanel>
  </p-tabView>


