<div class="row orderitemsciteria no-print">
  <div class="d-flex">
    <div class="criteria"><label for="fromdate">From Date</label>
    <input type="date" name="fromdate"  class="form-control" id="fromdate" [(ngModel)]="criteria.fromdate"></div>
    <div class="criteria"><label for="todate">To Date</label>
    <input type="date" name="todate" class="form-control" id="todate" [(ngModel)]="criteria.todate"></div>
    <div class="criteria">
      <label for="product">Product</label>
      <input type="text" name="product"  class="form-control" id="product" [(ngModel)]="criteria.product">
    </div>
  <!-- </div>
  <div class="col-2 mt-2"> -->
    <div class="criteria">
        <label for="category">Category</label>
        <!-- <select name="filterbycategory" class="form-control" [(ngModel)]="criteria.category" 
              (change)="fetchFilterProps($event)">
          <option value=""></option>
          <option *ngFor="let p of props" [value]="p.category">{{p.category}}</option>
        </select> -->
    

        <div *ngIf="(productProps$ | async).length > 0">
          <select class="form-control" id="category" [(ngModel)]="criteria.category" (change)="fetchFilterProps($event)">
          <option value="">All Category</option>
          <option *ngFor="let pp of (productProps$ | async)" [value]="pp.category">{{pp.category}}</option>
          </select>
        </div>
      </div>
    
  <!-- </div>
    
  <div class="col-10 mt-2">
    <div class="d-flex"> -->
      <div *ngFor="let p of criteria.props" class="criteria">
          <div *ngIf="p.type === 'SINGLE-SELECT'">
              <label>{{p.label}}</label>
              <select [(ngModel)]="p.value" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let c of p.choices" [value]="c.value">{{c.label}}</option>
              </select>
          </div>
      </div>
    </div>
  <!-- </div>   -->
  

  <div class="col-md-4">
    <label>&nbsp;</label><br>
    <button type="button" class="btn btn-primary mx-auto" (click)="fetchSaleItems()">Filter</button>
    &nbsp;
    <button type="button" class="btn btn-outline-primary" (click)="clearFilter()">Clear</button>
    &nbsp;
    <button type="button" class="btn btn-outline-primary" (click)="download()">Download</button>
    <!-- &nbsp;
    <button type="button" class="btn  btn-secondary" onclick="javascript:window.print();">Print</button> -->
  </div>
  <!-- <div class="col-md-1">
    <button type="button" class="btn  btn-primary" onclick="javascript:window.print();">Print</button>
  </div> -->
</div>

<p-table [value]="items" [resizableColumns]="true" columnResizeMode="expand" 
      [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
      styleClass="p-datatable-gridlines mt-4"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
      [rowsPerPageOptions]="[10,25,50]">
    <!-- <table class="table table-bordered mt-4 sale-items"> -->
        <!-- <thead> -->
          <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="sale.billno" class="billno">Bill No.
              <p-columnFilter type="text" field="sale.billno" display="menu"></p-columnFilter>
              <p-sortIcon field="sale.billno"></p-sortIcon>
            </th>
            <th pSortableColumn="sale.billdate" class="billdt">Bill Date</th>
            <th class="customer">Customer</th>
            <th class="document">Document</th>
            <th>Category</th>
            <!-- <th class="address" *ngIf="isH1DrugFilter()">Address</th> -->
            <th pSortableColumn="purchaseitem.product.title" class="product">Product
              <p-columnFilter type="text" field="purchaseitem.product.title" display="menu"></p-columnFilter>
              <p-sortIcon field="purchaseitem.product.title"></p-sortIcon>
            </th>
            <th class="batch">Batch
              <p-columnFilter type="text" field="batch" display="menu"></p-columnFilter>
            </th>
            <th class="expiry">Expiry</th>
            <th class="qty">Qty</th>
            <!-- <th class="rate">Rate</th> -->
            <!-- <th class="total">Amount</th> --> 
            
          </tr>
        <!-- </thead>
          <tbody> -->
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <!-- <tr *ngFor="let item of items"> -->
              <tr>
                <td>
                  <a [routerLink]="['../view',item.sale.id]">{{item.sale.billno}}</a>
                </td>
                <td>{{item.sale.billdate | date: 'dd/MM/yy h:mm a'}}</td>
                <td>{{item.sale.customer?.name}}</td>
                <td>
                  <div *ngIf="item.sale.props && item.sale.props.documents" class="documents">
                    <div *ngFor="let d of item.sale.props.documents" class="document">
                      <span class="category">{{d.category}}</span><br>
                      <ul><li *ngFor="let p of d.props"><label>{{p.label}}</label><span>{{p.value}}</span> </li></ul>
                    </div>
                  </div>
                  
                </td>
               <td>{{item.purchaseitem.product.category}}</td>
                <!-- <td>{{ isH1DrugFilter() ? item.sale.props && item.sale.props['ptntmobile'] : item.sale.customer?.mobile}}</td> -->
                <!-- <td>{{ isH1DrugFilter() ? item.sale.props && item.sale.props['ptntaddr'] : item.sale.customer?.address}}</td> -->
                <td>{{item.purchaseitem.product.title}}
                  <!-- <br>
                  <span style="font-size:smaller"> / {{item.expdate | date : 'MMM-yy'}}</span> -->
                </td>
                <td>{{item.batch}}</td>
                <td>{{item.expdate | date : 'MMM-yy'}}</td>
                <td style="text-align:right">{{item.qty}}</td>
                <!-- <td style="text-align:right">{{item.price}}</td> -->
                
                <!-- <td style="text-align:right">{{item.total}}</td> -->
            </tr>  
          <!-- </tbody>
        </table> -->

      </ng-template>
    </p-table>