<app-sale-header></app-sale-header>
<div class="card p-2">
    <div class="card-body bill-view">
        <div class="row">
            <table class="bill-head" style="font-size: small;">
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <h6 style="font-size: larger;font-weight: bolder;">Ramesh Generic Pharmacy</h6>
                        <div>
                        <p style="margin: 0;">DL#: TN/Z04/21/00446, TN/Z04/20/00446</p>
                        <p>15A 36th Street, Thillai Ganga Nagar, Nanganallur, Chennai - 600061<br>
                            Call: (044) 4769 3960 | 88593 35933</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                       <strong>Bill No.:</strong> {{sale.billno}}<br>
                        <strong>Bill Date:</strong> {{sale.billdate | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="text-align: right;">
                       <span *ngIf="sale.customer?.name"><strong>Name:</strong> {{sale.customer?.name}}</span><br>
                       <span *ngIf="sale.customer?.mobile"><strong>Phone:</strong> {{sale.customer?.mobile}}</span>
                    </td>
                </tr>
            </table>
           
            <table class="table table-bordered mt-3" style="font-size: small;">
                <tr>
                    <th style="text-align: left;" scope="col" width="20%">Product</th>
                    <th style="text-align: right;" scope="col">Batch / Exp</th>
                    <th style="text-align: right;" scope="col">MRP</th>
                    <th style="text-align: right;" scope="col">Qty</th>
                    <th style="text-align: right;" scope="col">Rate</th>
                    <!-- <th style="text-align: right;">Tax</th> -->
                    <th style="text-align: right;" scope="col">Amount</th>
                </tr>
            <tr *ngFor="let i of sale.items">
                <td>
                    {{i.title}}
                    <p style="margin:0;padding:0;font-style:italic" *ngIf="i.props?.composition">{{i.props?.composition}}</p>
                </td>
                <td style="vertical-align: text-top; text-align: right;width:15%">{{i.batch}} / {{i.expdate | date : 'MMM-yy'}}</td>
                <td style="vertical-align: text-top; text-align: right;width:8%">{{i.mrp | number : '1.2-2'}}</td>
                <td style="vertical-align: text-top; text-align: right;width:6%">{{i.qty}}</td>
                <td style="vertical-align: text-top; text-align: right;width:8%">{{i.price | number : '1.2-2'}}</td>
                <!-- <td style="vertical-align: text-top; text-align: right;width:6%">{{i.taxpcnt}}%</td> -->
                <td style="vertical-align: text-top; text-align: right;width:8%">{{i.total | number : '1.2-2'}}</td>
            </tr>
            <tr>
                
                <!-- <td>{{sale.total?.tax}}</td> -->
                <td colspan="1" class="text-align:left">
                    <div class="m-0 p-0" *ngIf="saving > 0">
                    <span style="margin:0;padding:0">MRP Total: <i class="bi bi-currency-rupee" style="padding:0"></i>{{mrpTotal | number:'1.0-0'}}</span>
                    <!-- <span style="margin-left: 1em;">Net Total: <i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.total | number:'1.0-0'}}</span> -->
                    <span *ngIf="sale.discamount && sale.discamount > 0" style="color: blue">
                        Discount({{sale.disccode}}):<i class="bi bi-currency-rupee" style="padding:0"></i> {{sale.discamount}}</span>
                    <span style="color: green;font-weight: bolder;">
                        <label for="saving" class="ml-4">&nbsp;&nbsp;Saving:</label>
                        {{saving|number :'1.0-0'}}%</span>
                </div>
                </td>
                <td colspan="3" style="text-align:right">No. of items: {{itemsCount}}</td>
                
                <td colspan="2" style="text-align: right;">
                    <label>Total {{itemsTotal != finalAmt ? '(rounded)' : ''}}: </label>
                    <i class="bi bi-currency-rupee" style="padding:0"></i>
                        <!-- {{itemsTotal| number : '1.1-2'}} -->
                        {{finalAmt}} 
                </td>
            </tr>
            <!-- <tr *ngIf="saving > 0" >
                <td colspan="4">
                    <span style="margin:0;padding:0">MRP Total: <i class="bi bi-currency-rupee" style="padding:0"></i>{{mrpTotal | number:'1.0-0'}}</span>
                    <span style="margin-left: 1em;">Net Total: <i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.total | number:'1.0-0'}}</span>
                    <span *ngIf="sale.discamount && sale.discamount > 0" style="color: blue;margin:0;padding:0">
                        Discount({{sale.disccode}}):<i class="bi bi-currency-rupee" style="padding:0"></i> {{sale.discamount}}</span>
                    <span *ngIf="saving > 0"><label for="saving"></label>
                       <strong>Total Saving:</strong> {{saving|number :'1.0-0'}}%</span>
                </td>
                <td colspan="3" style="text-align: right;">
                    <label>Net Total: </label>
                    <i class="bi bi-currency-rupee" style="padding:0"></i>
                    {{finalAmt}}
                </td>
            </tr> -->
            </table>
        </div>
       
    </div>
</div>
<div class="non-print" style="text-align:center">
    <button type="button" class="btn  btn-primary m-2" onclick="javascript:window.print();"><i class="bi bi-printer"></i> Print</button>
    
    <!-- <a *isAuth="'sales.add'" [routerLink]="['../../new']">
        <button type="submit" class="btn btn-success no-print m-2">New Sale</button></a> -->
         
    <button type="button" (click)="cancel()" class="btn btn-outline-primary m-2">Sales</button>    
</div>