<table class="table table-bordered m-0 p-0">
    <thead>
        <tr style="background-color: #ddd;">
            <th width="2%"></th>
            <th>Product</th>
            <th class="text-end">Batch/Use By</th>
            <th width="5%" class="text-end">MRP</th>
            <th width="15%" class="text-end" width="10%">Qty</th>
            <th width="5%" class="text-end">Rate</th>
            <th width="5%" class="text-end">Tax</th>
            <th width="7%" class="text-end">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td class="text-center">
                <h5 *ngIf="item.edited" style="margin-top:.3em">
                <a (click)="removeItem(item.itemid)">
                <i class="bi bi-trash text-danger"></i>
                </a>
            </h5>
            </td>
            <td>
                <p *ngIf="item.title" style="margin:0;padding:0;"><strong>{{item.title}}</strong><br><span style="color:#999;font-style: italic;">{{item.more_props?.composition}}</span></p>
            </td>
            <td class="text-end">
                {{item.batch}}<span class="text-primary">&nbsp;/{{item.expdate | date : 'MMM-yy'}}</span>
            </td>
            <td class="text-end">{{item.mrpcost | number : '1.1-2'}}</td>
            <td class="text-end">
                <span *ngIf="!item.edited">{{item.qty}}</span>
                <div class="input-group" *ngIf="item.edited">
                    <!-- <input type="number" min="0" name="box" class="form-control"
                    [value]="item.box == 0 ? '' : item.box" (input)="boxInputValidate($event,item.maxqty,item.pack,item.id)">
                    <input type="number" min="0" class="form-control" name="boxitem" 
                    [value]="item.boxbal == 0 ? '' : item.boxbal" (input)="boxitemInputValidate($event,item.maxqty,item.pack,item.id)"> 
                <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">{{item.balqty}}</span>
                    </div>
                -->
                    <input type="number" [value]="item.qty" class="form-control"
                        [disabled]="item.maxqty == 0"
                        [ngStyle]="{'background-color': +item.qty > +item.maxqty ? '#f00' : '#9df'}"
                        (input)="changeItemQty(item.itemid,$event)">
                    
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">{{item.unitsbal}}</span>
                    </div>
                </div>
            </td>
            <td class="text-end">{{item.price}}</td>            
            <td class="text-end">{{item.taxpcnt}}%</td>
            <td class="text-end">{{item.total}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="7">
                <app-stock-select
                (stockSelected)="selectProduct($event)"></app-stock-select>
            </td>
        </tr>
    </tbody>
</table>