<div class="pagetitle">
  <h1>Sales</h1>
</div>
<nav class="navbar navbar-light bg-light justify-content-between non-print m-0 p-0">
    <ul class="nav page-menu">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['is-active']" [routerLink]="['/secure/sales/pos']">POS</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/sales/intent">Intent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/sales/list">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/sales/deliveries">Deliveries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/sales/returns">Returns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="/secure/sales/reminders">Customers</a>
        </li>
      </ul>
  </nav>