<app-sale-header></app-sale-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table mt-4">    
                <tr>
                    <!-- Customer Info -->
                    <td>
                        <app-customer-select 
                                (customerSelected)="selectCustomer($event,true)"
                                (focusLeave)="doneEnterCustomer($event)">
                                </app-customer-select>
                        <div *ngIf="sale.customer?.mobile !== null">
                            Mobile: {{sale.customer?.mobile}}
                            Name: {{sale.customer?.name}}
                            Email: {{sale.customer?.email}}
                            <span class="ml-2" *ngIf="!isNewCustomer()">
                                <a (click)="showPrevSalesCopy()">
                                    <i class="bi bi-files text-success"></i>
                                </a>
                            </span>
                            <span class="ml-2" *ngIf="sale.status !== 'COMPLETE'">
                                <a (click)="resetCustomer()">
                                    <i class="bi bi-x-square text-danger"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <!-- Bill Info-->
                    <td class="text-end">
                        <div>Date: {{this.sale.billdate | date: 'dd-MMM hh:mm a'}}</div>
                        <div *ngIf="sale.status !== 'NEW'">No: {{this.sale.billno}} ({{this.sale.status}})</div>
                    </td>
                </tr>
                <!-- Sale Items -->
                <tr><td colspan="2">
                    <app-sale-form-items [items]="sale.items" 
                    (itemRemoved)="onItemRemoved($event)"
                    (itemAdded)="onItemAdd($event)">
                </app-sale-form-items>
                </td>
                </tr>
                <!-- <tr>
                    <td colspan="2">
               
                <span>Discount</span>
                
                <select [(ngModel)]="offer.code" class="form-control" (change)="selectOffer($event)">
                    <option *ngFor="let o of offers" [value]="o.code">{{o.code}}</option>
                </select>
            
                <input type="number" class="form-control" [(ngModel)]="offer.amount" size="4"
                (input)="applyDiscount()"
                [disabled]="!offer.input">
            
                    </td>
                </tr> -->
                <!-- Total -->
                <tr *ngIf="sale.items && sale.items.length > 0">
                    <td colspan="2">
                    <table class="table">
                        <tr>
                            <th>Items</th>
                            <th>Credit</th>
                            <th>Payment</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>{{sale.totalitems}}</td>
                            <td></td>
                            <td>
                                <select name="digitype" id="digitype">
                                    <option value="PayTm">PayTM</option>
                                    <option value="UPI">UPI</option>
                                </select>
                                <input type="text" name="digiref">
                                <input type="text" name="cash">
                            </td>
                            <td>
                                <table class="table table-bordered m-0 p-0">
                                    <tr>
                                      <th>Saving</th>
                                      <th colspan="2">Total</th>
                                    </tr>
                                    <tr>
                                      <td rowspan="2">{{sale.saving}}%</td>
                                      <td>MRP: <i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.mrptotal}}</td>
                                      <td rowspan="2"><i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.total}}</td>
                                    </tr>
                                    <tr>
                                      <td>Tax: $80</td>
                                    </tr>
                                  </table>
                                
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button (click)="submit('COMPLETE')" class="btn btn-primary m-2" 
                        [disabled]="!(total > 0)">Complete</button>    
            <button *ngIf="sale.status !== 'COMPLETE'"(click)="submit('PENDING')" 
                class="btn btn-outline-primary m-2" [disabled]="total === 0">Save</button>    
            <button *ngIf="sale.status === 'PENDING'" (click)="submit('DISCARD')" 
                class="btn btn-outline-secondary m-2">Discard</button>

            <!-- <a *isAuth="'sales.add'" [routerLink]="['/secure/sales/new']">
                <button type="button" *ngIf="sale.status === 'PENDING'" (click)="submit('DISCARD')" class="btn btn-primary m-2">New Sale</button></a> -->
            <button type="button" (click)="cancel()" class="btn btn-outline-secondary m-2">Cancel</button>
        </div>
    </div>
</div>



<!-- Information to capture for H1 -->
<p-dialog header="Prescription" [(visible)]="displaySalePropsForm" [modal]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmitSaleProps()">
        <div class="row g-2 bg-light pb-3 mt-3" formGroupName="props" *ngIf="saleprops.length > 0">
            <div class="col-md-12">
                <input type="checkbox" name="selectCu" (change)="copyCustomerInfo($event)">Copy Customer Info to Patient
            </div>
            <div class="col-md-4" *ngFor="let pp of saleprops">
                <label class="form-label">{{pp.label}}<span class="text-danger" *ngIf="pp.required"> *</span></label> 
                <select class="form-control" formControlName={{pp.id}} *ngIf="pp.type === 'SINGLE-SELECT'">
                    <option value="">Select</option>
                    <option *ngFor="let c of pp.choices" [value]="c.value">{{c.label}}</option>
                </select> 
                <input *ngIf="!pp.type" type="text"
                        class="form-control" formControlName={{pp.id}}>
                <div *ngIf="pp.type === 'CHECK'">
                <input type="checkbox" class="form-check-input" formControlName={{pp.id}}> Yes
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        <button type="submit" class="btn btn-secondary">Skip</button>
    </form>
</p-dialog>

<!-- Customer Previous Sales -->
<p-dialog [header]="this.sale?.customer?.name + ' (' + this.sale?.customer?.mobile + ')'" 
        [(visible)]="displayPrevSalesCopy" [modal]="true">
    <div *ngFor="let s of prevCustSales; index as i">
        {{s.billdate | date : 'dd-MMM'}} | <i class="bi bi-currency-rupee" style="padding:0"></i>{{s.total}}
            <ul class="list-group mt-2">
                <li class="list-group-item"><input type="checkbox" (change)="toggleAll(i,$event)">
                    <span class="p-2 text-primary">All</span>
                </li>
                <li class="list-group-item" *ngFor="let i of s.items">
                    <input type="checkbox" (change)="selectItem(i.productid,$event)" [checked]="i.selected">
                    <span class="p-2">{{i.title}} ({{i.qty}})</span></li>
            </ul>
    </div>
    <button type="button" class="btn btn-primary mt-2 text-center"
            (click)="copySelectedItem()">Copy</button>
</p-dialog>

<!-- Customer Info form (shown if no customer already selected)-->
<p-dialog [header]="(this.sale?.customer?.name || 'Customer') + ' (' + (this.sale?.customer?.mobile || '') + ')'" 
            [(visible)]="displayNewCustomer" [modal]="true">
        <div class="row">
            <div class="col-lg-6">
                <input type="text" name="custMobile" id="custMobile" maxlength="10" class="form-control" placeholder="Mobile"
                [value]="sale.customer?.mobile||''" (input)="updateCustomer('mobile',$event)">
                <!-- <app-customer-select 
                    (customerSelected)="selectCustomer($event, false)"
                    (focusLeave)="doneEnterCustomer($event)">
                    </app-customer-select> -->
            </div>
            
            <div class="col-lg-6">
                <input type="text" name="custName" id="custName" class="form-control" placeholder="Name"
                [value]="sale.customer?.name||''" (input)="updateCustomer('name',$event)">
            </div>
            <div class="col-lg-4">
                <input type="text" name="custEmail" id="custEmail" class="form-control" placeholder="Email"
                [value]="sale.customer?.email||''" (input)="updateCustomer('email',$event)">
            </div>
        </div>
        <!-- show below section if the customer is not found -->
        <!-- <div class="row mt-2">
            <div class="col-lg-6">
                    <input type="text" name="custArea" id="custArea" class="form-control" placeholder="Area"
                [value]="sale.customer?.area||''" (input)="updateCustomer('area',$event)">
            </div>
            <div class="col-lg-4">
                    <input type="text" name="custLocal" id="custLocal" class="form-control" placeholder="Locality"
                [value]="sale.customer?.locality||''" (input)="updateCustomer('locality',$event)">
            </div>
            <div class="col-lg-6">
                    <textarea name="custAddr" id="custAddr" class="form-control" placeholder="Address"
                (input)="updateCustomer('address',$event)">{{sale.customer?.address||''}}</textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <select name="srctype" [value]="sale.customer?.srctype"  class="form-control" 
                            (change)="updateCustomer('srctype',$event)">
                    <option value="">Select</option>
                    <option *ngFor="let st of custCustomerTypes" [value]="st.value">{{st.label}}</option>
                </select>
            </div>
            <div class="col-lg-6">
                    <input type="text" name="custSrcText" id="custSrcText" class="form-control"
                    [value]="sale.customer?.srcdesc||''" (input)="updateCustomer('srcdesc',$event)">
            </div>
        </div> -->
        <div class="row mt-2">
            <div class="col-lg-12">
                <!-- <button class="btn btn-primary m-2 text-center" 
                (click)="saveCustomerInfo('PENDING')">Save</button> -->
                <button *ngIf="!customerEditOnly" class="btn btn-primary m-2 text-center" 
                (click)="saveCustomer()">Save</button>
                <button class="btn btn-outline-secondary m-2"
                (click)="cancelCustomer()">Continue</button>
                
            </div>
        </div>
</p-dialog>