<div class="card">
    <div class="card-body bill-view">
        <div class="row">
            <table class="bill-head">
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <h6 style="font-size: larger;font-weight: bolder;">Ramesh Generic Pharmacy</h6>
                        <div style="font-size: small;">
                        <p style="margin: 0;">DL#: TN/Z04/21/00446, TN/Z04/20/00446</p>
                        <p>15A 36th Street, Thillai Ganga Nagar, Nanganallur, Chennai - 600061<br>
                            Call: (044) 4769 3960 | 88593 35933</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        No: {{sale.id}}<br>
                        Date: {{sale.billdate | date: 'dd/MM/yyyy hh:mm a'}}
                    </td>
                    <td style="text-align: right;">
                        Name: {{sale.customer?.name}}<br>
                        Phone: {{sale.customer?.mobile}}
                    </td>
                </tr>
            </table>
            <table class="table table-bordered mt-3">
                <tr>
                    <th>Product</th>
                    <th style="text-align: center;">Batch / Exp</th>
                    <th style="text-align: right;">MRP</th>
                    <th style="text-align: right;">Qty</th>
                    <th style="text-align: right;">Rate</th>
                    <th style="text-align: right;">Tax</th>
                    <th style="text-align: right;">Amount</th>
                </tr>
            <tr *ngFor="let i of sale.items">
                <td>
                    {{i.title}}
                    <i *ngIf="i.props?.composition">{{i.props?.composition}}</i>
                </td>
                <td style="text-align: center;width:15%">{{i.batch}} / {{i.expdate | date : 'MMM-yy'}}</td>
                <td style="text-align: right;width:8%">{{i.mrp}}</td>
                <td style="text-align: right;width:6%">{{i.qty}}</td>
                <td style="text-align: right;width:8%">{{i.price}}</td>
                <td style="text-align: right;width:6%">{{i.taxpcnt}}%</td>
                <td style="text-align: right;width:8%">{{i.total}}</td>
            </tr>
            <tr>
                <td colspan="2">No. of items: {{itemsCount}}</td>
                <!-- <td>{{sale.total?.tax}}</td> -->
                <td colspan="3">
                    <span *ngIf="sale.discount && sale.discount > 0" style="margin-left: 2em;color: blue;text-align: right;">OFFER: <i class="bi bi-currency-rupee" style="padding:0"></i> -{{sale.discount}}</span>
                </td>
                <td colspan="2" style="text-align: right;">
                    <label>Total: </label>
                    <i class="bi bi-currency-rupee" style="padding:0"></i>
                        {{sale.total}}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <strong>Total</strong>
                    <span>MRP: <i class="bi bi-currency-rupee" style="padding:0"></i>{{mrpTotal | number:'1.0-0'}}</span>
                    <span style="margin-left: 1em;">Sale: <i class="bi bi-currency-rupee" style="padding:0"></i>{{sale.total | number:'1.0-0'}}</span>
                    <span *ngIf="saving > 0"><label for="saving"></label>
                       <strong>Saving:</strong> {{saving}}%</span>
                </td>
                <td colspan="3" style="text-align: right;">
                    <label>Net Total: </label>
                    <i class="bi bi-currency-rupee" style="padding:0"></i>
                    <strong>{{finalAmt}}</strong>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
<div class="non-print" style="text-align:center">
    <button type="button" class="btn  btn-primary m-2" onclick="javascript:window.print();">Print</button>
    
    <a *isAuth="'sales.add'" [routerLink]="['../../new']">
        <button type="submit" class="btn btn-success no-print m-2">New Sale</button></a>
         
    <button type="button" (click)="cancel()" class="btn btn-outline-primary m-2">Back to List</button>    
</div>