<div class="row no-print">
  <div class="col-md-2">
    <label for="category">Category</label>
    <select name="filterbycategory" class="form-control" [(ngModel)]="criteria.category" 
          (change)="fetchFilterProps($event)">
      <option value=""></option>
      <option value="Drug">Drug</option>
      <option value="Surgicals">Surgicals</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="fromdate">From Date</label>
    <input type="date" name="fromdate"  class="form-control" id="fromdate" [(ngModel)]="criteria.fromdate">
  </div>
  <div class="col-md-2">
    <label for="todate">To Date</label>
    <input type="date" name="todate" class="form-control" id="todate" [(ngModel)]="criteria.todate">
  </div>
  <div *ngFor="let p of criteria.props"  class="col-md-2">
        <div *ngIf="p.type === 'SINGLE-SELECT'">
            <label>{{p.label}}</label>
            <select [(ngModel)]="p.value" class="form-control">
                <option value=""></option>
                <option *ngFor="let c of p.choices" [value]="c.value">{{c.label}}</option>
            </select>
        </div>
    </div>
    
  <div class="col-md-4">
    <label>&nbsp;</label><br>
    <button type="button" class="btn btn-primary mx-auto" (click)="fetchSaleItems()">Filter</button>
    &nbsp;
    <button type="button" class="btn btn-outline-primary" (click)="clearFilter()">Clear</button>
    &nbsp;
    <button type="button" class="btn  btn-secondary" onclick="javascript:window.print();">Print</button>
  </div>
  <!-- <div class="col-md-1">
    <button type="button" class="btn  btn-primary" onclick="javascript:window.print();">Print</button>
  </div> -->
</div>
<p-table [value]="items" [resizableColumns]="true" columnResizeMode="expand" 
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
[tableStyle]="{'min-width': '50rem'}" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
[rowsPerPageOptions]="[10,25,50]">
    <!-- <table class="table table-bordered mt-4 sale-items"> -->
        <!-- <thead> -->
          <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="sale.id" class="billno">No.
              <p-columnFilter type="text" field="sale.id" display="menu"></p-columnFilter>
              <p-sortIcon field="sale.id"></p-sortIcon>
            </th>
            <th pSortableColumn="sale.billdate" class="billdt">Date
              <p-columnFilter type="date" field="sale.billdate" display="menu"></p-columnFilter>
              <p-sortIcon field="sale.billdate"></p-sortIcon>
            </th>
            <th class="doctor" *ngIf="isH1DrugFilter()">Doctor</th>
            <th class="customer">Customer</th>
            <th class="phone">Phone</th>
            <th class="address" *ngIf="isH1DrugFilter()">Address</th>
            <th pSortableColumn="purchaseitem.product.title" class="product">Product
              <p-columnFilter type="text" field="purchaseitem.product.title" display="menu"></p-columnFilter>
              <p-sortIcon field="purchaseitem.product.title"></p-sortIcon>
            </th>
            <th class="batch">Batch/Exp</th>
            <th class="qty">Qty</th>
            <th class="signature" *ngIf="isH1DrugFilter()">Sign</th>
          </tr>
        <!-- </thead>
          <tbody> -->
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <!-- <tr *ngFor="let item of items"> -->
              <tr>
                <td>
                  <a [routerLink]="['../view',item.sale.id]">{{item.sale.id}}</a>
                </td>
                <td>{{item.sale.billdate | date :'dd/MM/yy'}}</td>
                <td *ngIf="isH1DrugFilter()">{{item.sale.props['prescdoctor']}}</td>
                <td>{{ isH1DrugFilter() ? item.sale.props['ptntname'] : item.sale.customer?.name}}</td>
                <td>{{ isH1DrugFilter() ? item.sale.props['ptntmobile'] : item.sale.customer?.mobile}}</td>
                <td *ngIf="isH1DrugFilter()">{{ isH1DrugFilter() ? item.sale.props['ptntaddr'] : item.sale.customer?.address}}</td>
                <td>{{item.purchaseitem.product.title}}</td>
                <td>{{item.purchaseitem.batch}} / {{item.purchaseitem.expdate | date : 'MMM-yy'}}</td>
                <td>{{item.qty}}</td>
                <td *ngIf="isH1DrugFilter()"></td>
            </tr>  
          <!-- </tbody>
        </table> -->

      </ng-template>
    </p-table>