<app-sale-header></app-sale-header>
<div class="text-center mt-4" *ngIf="loading">
    <div class="spinner-border" role="status"></div>
  </div>
<p-table [value]="result" [resizableColumns]="true" columnResizeMode="expand" 
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines mt-4"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [rowsPerPageOptions]="[10,25,50]">
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name 
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="mobile">Mobile 
                <p-columnFilter type="text" field="mobile" display="menu"></p-columnFilter>
                <p-sortIcon field="mobile"></p-sortIcon>
            </th>
            <th pSortableColumn="days_lapsed">Days ago
                <p-columnFilter type="numeric" field="days_lapsed" display="menu"></p-columnFilter>
                <p-sortIcon field="days_lapsed"></p-sortIcon>
            </th>
            <th pSortableColumn="last_visited">Last Visit
                <p-columnFilter type="date" field="last_visited" display="menu"></p-columnFilter>
                <p-sortIcon field="last_visited"></p-sortIcon>
            </th>
            <!-- <th>Pattern</th> -->
            <th>Interval</th>
            <th pSortableColumn="avgdays">Avg Visit<br>Interval
                <p-sortIcon field="avgdays"></p-sortIcon>
            </th>
            <th pSortableColumn="devdays">Visits<br>
                Slip
                <p-sortIcon field="devdays"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.name}}</td>
            <!-- <td>{{product.code}}</td> -->
            <td>{{customer.mobile}}</td>
            <td>{{customer.days_lapsed}}</td>
            <td>{{customer.last_visited | date: 'dd/MM/yy'}}</td>
            <!-- <td>{{customer.visit_pattern}}</td> -->
            <td>{{customer.interval}}</td>
            <td>{{customer.avgdays}}</td>
            <td>{{customer.devdays}}</td>
        </tr>
    </ng-template>
</p-table>